{% if transactions|length > 0 %}
<div id="accordion2" class="kl-acc-wrapper kl-accordion-dashboards">
    {% for key, transaction in transactions %}
        <div class="card mb-2">
            <div class="card-header bg-white p-0">
                <a class="d-flex justify-content-between text-dark p-3 kl-link-acc" data-toggle="collapse" aria-expanded="false" href="#accordion{{ key }}-1">
                    {{ transaction.trxRef }}
                    <div class="collapse-icon"></div>
                </a>
            </div>

            <div id="accordion{{ key }}-1" class="collapse {{ loop.first ? "show" }}" data-parent="#accordion2">
                <div class="card-body py-0 text-center">
                    {{ include("@Admin/ZrpCustomerTicket/ticket_dashboard.html.twig") }}
                </div>

                <div class="col-12 kl-qr-client text-right p-0 ">
                    {% if  transaction.trxQrCode %}
                        <img src="{{ transaction.trxQrCode }}" width="80%" height="80%" alt="Qr-code" class="w-100">
                    {% else %}
                        <img src="{{ asset('img/default-qr-code.png') }}" width="80%" height="80%" alt="Qr-code" class="w-100">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <div class="alert alert-success" role="alert">
        {{ 'bo.global.table.no.result'|trans }}
    </div>
{% endif %}