{% set locale = app.request.locale %}

<header class="banner">
    <nav class="navbar kl-top-menu">
        <div class="container-fluid header-menu">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home_index') }}">
                    <img width="200" src="{{ asset('img/logo.png') }}" alt="logo" />
                </a>
            </div>
            <ul class="nav navbar-nav kl-desk">
                <li>
                    <a href="{{ path('contact_send_mail') }}">
                        {{'header.menu.contact'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('cms_front_show', {'_id' : cms_seo.id, '_slug' : cms_seo.translate(locale).cmstSlug }) }}">
                        Seo
                    </a>
                </li>
                <li>
                    <a href="{{ path('cms_front_show', {'_id' : cms_marketing.id, '_slug' : cms_marketing.translate(locale).cmstSlug }) }}">
                        Marketing
                    </a>
                </li>
                <li>
                    <a href="{{ path('cms_front_show', {'_id' : cms_developpement.id, '_slug' : cms_developpement.translate(locale).cmstSlug }) }}">
                        Développement
                    </a>
                </li>
                <li>
                    <a href="{{ path('cms_front_show', {'_id' : cms_tools.id, '_slug' : cms_tools.translate(locale).cmstSlug }) }}">
                        Tools
                    </a>
                </li>
            </ul>
            <div class="kl-contact-top pull-left">
                <a href="tel:+33179732000" class="kl-tel">+33 9 72 55 31 99</a>
            </div>
            <div class="nav navbar-nav navbar-right kl-language">
                {{ include("frontoffice/base_front_menu_language.html.twig") }}
            </div>
            <div class="clearfix"></div>
            <div id="id-menu-mobile" class="navbar-collapse collapse main-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('contact_send_mail') }}">
                            {{'header.menu.contact'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="titre">
        <span class="container kl-block">
            Site vitrine
        </span>
    </h1>
</header>