{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.client'|trans }} {% endblock %}

{% set menu_client = true %}

{% block body %}
    {#{% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}#}

    <div style="display: none;" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>

    <div style="display: none;" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.client.type.index.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.database'|trans,
                'breadcrumb_root_name': 'bo.client.type.index.title'|trans,
                'breadcrumb_root_name_path': path('client_index'),
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6 text-right">
                                <a href="#" class="btn btn-success btn-sm mb-3 btn-round"
                                   data-toggle="modal" data-target="#id-client-add-form-modal"
                                >
                                    <i class="feather icon-plus"></i>
                                    {{ 'bo.client.button.add'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive pb-4">
                            <table id="id-client-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr>
                                    <th class="no-sort">{{ 'bo.index.th.action'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.client.cin'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.client.last.name'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.client.first.name'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.client.phone.number'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Add-->
    <div class="modal fade" id="id-client-add-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'bo.client.new.title.tab' | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="id-form-add">
                        <div class="form-group">
                            <label for="id-client-add-cin" class="col-form-label">{{ 'bo.client.cin' | trans }}</label>
                            <input type="number" class="form-control kl-client-add" id="id-client-add-cin" />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-client-add-last-name" class="col-form-label">{{ 'bo.client.last.name' | trans }}</label>
                            <input type="text" class="form-control kl-client-add" id="id-client-add-last-name" />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-client-add-first-name" class="col-form-label">{{ 'bo.client.first.name' | trans }}</label>
                            <input type="text" class="form-control kl-client-add" id="id-client-add-first-name"  />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-client-add-phone" class="col-form-label">{{ 'bo.client.phone.number' | trans }}</label>
                            <input type="text" class="form-control kl-client-add" id="id-client-add-phone"  />
                            <span class="kl-error-span-validate"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a type="button" href="#" class="btn btn-danger" data-dismiss="modal">{{ 'bo.button.client.cancel' | trans }}</a>
                    <a type="button" href="#" class="btn btn-primary" id="id-button-save-add" >{{ 'bo.button.client.save' | trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal edit-->
    <div class="modal fade" id="id-client-edit-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'bo.client.edit.title.tab' | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="id-form-add">
                        <input type="hidden" class="form-control" id="id-client-edit-id" />
                        <div class="form-group">
                            <label for="id-client-edit-cin" class="col-form-label">{{ 'bo.client.cin' | trans }}</label>
                            <input type="number" class="form-control kl-client-edit" id="id-client-edit-cin" />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-client-edit-last-name" class="col-form-label">{{ 'bo.client.last.name' | trans }}</label>
                            <input type="text" class="form-control kl-client-edit" id="id-client-edit-last-name" />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-client-edit-first-name" class="col-form-label">{{ 'bo.client.first.name' | trans }}</label>
                            <input type="text" class="form-control kl-client-edit" id="id-client-edit-first-name"  />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-client-edit-phone" class="col-form-label">{{ 'bo.client.phone.number' | trans }}</label>
                            <input type="text" class="form-control kl-client-edit" id="id-client-edit-phone"  />
                            <span class="kl-error-span-validate"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a type="button" href="#" class="btn btn-danger" data-dismiss="modal">{{ 'bo.button.client.cancel' | trans }}</a>
                    <a type="button" href="#" class="btn btn-success" id="id-button-save-edit" >{{ 'bo.button.client.save' | trans }}</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_client_list_ajax = "{{ path('client_list_ajax') }}";
        var href_client_add_default = "{{ path('client_add') }}";
        var href_client_edit_default = "{{ path('client_edit', {id: 0}) }}";
        var href_client_delete_default = "{{ path('client_delete', {id: 0}) }}";
        var href_client_update_default = "{{ path('client_update', {id: 0}) }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var default_sorting = [[1, 'desc']];
        var datatable = undefined;
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/client/build.error.message.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/client/list.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/client/add.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/client/edit.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/client/update.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/client/delete.ajax.js') }}"></script>
{% endblock %}