{% extends 'email/layout.twig' %}

{% block body_html_content %}
    <table cellpadding="0" cellspacing="0" border="0" width="600" class="kl-w480">
        <tr>
            <td height="60"></td>
        </tr>
        <tr>
            <td style="text-align:left; font-size:18px; color:#5b5a5d;">
                <p style="margin-top:10px;margin-bottom:10px;">{{ 'email.hello'|trans }},</p>
                <p style="margin-top:10px;margin-bottom:10px;"><br><br>{{ 'email.content'|trans }}:</p>
            </td>
        </tr>
        <tr>
            <td>{{ 'contact.lastname'|trans }}</td>
            <td>:</td>
            <td>{{ data['last_name'] }}</td>
        </tr>
        <tr>
            <td>{{ 'contact.firstname'|trans }}</td>
            <td>:</td>
            <td>{{ data['first_name'] }}</td>
        </tr>
        <tr>
            <td>{{ 'contact.address'|trans }}</td>
            <td>:</td>
            <td>{{ data['email'] }}</td>
        </tr>
        <tr>
            <td>{{ 'contact.phone'|trans }}</td>
            <td>:</td>
            <td>{{ data['phone_number'] }}</td>
        </tr>
        <tr>
            <td>{{ 'bo.contact.objet'|trans }}</td>
            <td>:</td>
            <td>{{ data['object_demande'] }}</td>
        </tr>
        <tr>
            <td>Message</td>
            <td>:</td>
            <td>{{ data['message']|nl2br }}</td>
        </tr>
        <tr>
            <td height="60"></td>
        </tr>
        <tr>
            <td>
                <p style="text-align:left; font-size:18px; color:#5b5a5d;">{{ 'email.thanks'|trans }}</p>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" width="600" class="kl-w480">
        <tr>
            <td height="37"></td>
        </tr>
        <tr>
            <td style="text-align:center;"><img src="http://livenexx.fr/images-email/final.jpg" alt=""/></td>
        </tr>
        <tr>
            <td height="100"></td>
        </tr>
    </table>
{% endblock %}