{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.help.contact.sidebar'|trans }} {% endblock %}

{% set menu_help_contact = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.help.contact.sidebar'|trans,
                'breadcrumb_base_root': 'bo.help.contact.sidebar'|trans,
            } %}
        <div class="row kl-contact-title">
            <div class="col">
                <h2>Aide & Contact </h2>
                <p class="kl-text-contact">
                        Veuillez remplir le formulaire ci-dessous:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="kl-authentication-contact py-5">
                <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                    <form role="form" action="{{ path('customer_help_contact_send_mail') }}" method="post" id="login-form" class="px-4 pt-2 pb-3 bv-form" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                        <div class="form-group">
                            <label class="form-label">{{ 'bo.contact.name'|trans }}</label>
                            <input type="text" class="form-control" name="last_name" value="" id="" required="" data-bv-field="">
                            <div class="clearfix"></div>
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="_username" data-bv-result="NOT_VALIDATED" style="display: none;">Ce champ est requis</small></div>
                        <div class="form-group">
                            <label class="form-label">{{ 'bo.contact.firstname'|trans }}</label>
                            <input type="text" class="form-control" name="first_name" value="" id="" required="" data-bv-field="">
                            <div class="clearfix"></div>
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="_username" data-bv-result="NOT_VALIDATED" style="display: none;">Ce champ est requis</small></div>
                        <div class="form-group">
                            <label class="form-label">{{ 'bo.contact.adress'|trans }}</label>
                            <input type="text" class="form-control" name="email" value="" id="" required="" data-bv-field=""
                                   pattern="^[^@\s]+@([^@\s]+\.)+[^@\s]+$"
                                   data-bv-regexp-message="{{ 'bo.user.account.error.field.mail'|trans }}">
                            <div class="clearfix"></div>
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="_username" data-bv-result="NOT_VALIDATED" style="display: none;">Ce champ est requis</small></div>
                        <div class="form-group">
                            <label class="form-label">{{ 'bo.contact.num'|trans }}</label>
                            <input type="text" class="form-control" name="phone_number" value="" id=""  data-bv-field=""
                                   pattern="^\+?[0-9 ]*$"
                                   data-bv-regexp-message="{{ 'bo.customer.phone.validator'|trans }}">
                            <div class="clearfix"></div>
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="" data-bv-result="NOT_VALIDATED" style="display: none;">Ce champ est requis</small></div>
                        <div class="form-group">
                            <label class="form-label">{{ 'bo.contact.objet'|trans }}</label>
                            <input type="text" class="form-control" name="object_demande" value="" id="" required="" data-bv-field="">
                            <div class="clearfix"></div>
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="_username" data-bv-result="NOT_VALIDATED" style="display: none;">Ce champ est requis</small></div>
                        <div class="form-group">
                            <label class="form-label d-flex justify-content-between align-items-end kl-message-contact">
                                <span>{{ 'bo.contact.messages'|trans }}</span>
                            </label>
                            <textarea class="form-control" name="message" id="" required="" data-bv-field="" rows="10"></textarea>
                            <div class="clearfix"></div>
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="" data-bv-result="NOT_VALIDATED" style="display: none;">Ce champ est requis</small></div>
                        <div class="justify-content-between align-items-center m-0">
                            <div class="kl-button-souvenir">
                                <button type="submit" class="btn btn-primary">{{ 'bo.contact.buttons'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
