{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.folder.edit.title'|trans }} {% endblock %}

{% set menu_folder = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.folder.index.title'|trans,
                'breadcrumb_root_name': 'bo.sidebar.folder'|trans,
                'breadcrumb_root_name_path': path('folder_index'),
                'breadcrumb_action': 'bo.index.updating'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.folder.edit.title'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(edit_form) }}
                                {{ form_start(edit_form) }}
                                {{ form_row(edit_form.fldName) }}

                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2 required"
                                           for="zrp_service_metiermanagerbundle_erp">{{ 'bo.folder.ticket.label'|trans }}</label>
                                    <div class="col-sm-10">
                                        <div class="position-relative">
                                            <select
                                                    name="selection_ticket[]"
                                                    class="custom-select kl-select-two"
                                                    style="width: 100%" multiple
                                                    id="ville" required>
                                                {% for ticket in tickets %}
                                                    <option value="{{ ticket.id }}" {% if(ticket.zrpFolder == folder) %}selected{% endif %}>{{ ticket.trxRef }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary">
                                            {{ 'bo.button.update'|trans }}
                                        </button>
                                        <a href="{{ path('folder_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_city_list_ajax = "{{ path('company_list_ajax_city') }}";
    </script>

    <!-- Delete file -->
    <script src="{{ asset('backoffice/js/delete.file.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/company/company.edit.js') }}"></script>

{% endblock %}