{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.folder'|trans }} {% endblock %}

{% set menu_folder = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.general.folder'|trans,
                'breadcrumb_base_root': 'bo.folder.index.title'|trans,
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6 text-right">
                                <a href="{{ path('folder_add') }}" class="btn btn-success btn-sm mb-3 btn-round">
                                    <i class="feather icon-plus"></i>
                                    {{ 'bo.folder.button.add'|trans }}
                                </a>
                            </div>
                        </div>
                      {#  <div class="table-responsive pb-4">
                            <table id="id-folder-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr>
                                    <th class="no-sort">{{ 'bo.index.th.action'|trans }}</th>
                                    <th>{{ 'bo.folder.index.th.name'|trans }}</th>
                                    <th>{{ 'bo.folder.index.th.transaction.count'|trans }}</th>
                                    <th>{{ 'bo.folder.index.th.date.enregistrement'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown row mb-5">
            <div class="col-md-6 offset-md-3 text-center">
                <button class="kl-underlined-btn dropdown-toggle" type="button" id="id-dropdown-filter-by"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {{ 'bo.folder.filter.by'|trans }}
                </button>
                <div class="dropdown-menu" aria-labelledby="id-dropdown-filter-by">
                    <a class="dropdown-item active" href="javascript:void(0)" data-value="name asc">
                        {{ 'bo.folder.filter.by.alphabetical.order'|trans }}
                        <i class="kl-icon-sort fa fa-sort-alpha-up-alt float-right mt-1 ml-2"></i>
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" data-value="nbr_transaction asc">
                        {{ 'bo.folder.filter.by.number.tickets'|trans }}
                        <i class="kl-icon-sort fa fa-sort-numeric-up-alt float-right mt-1 ml-2"></i>
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" data-value="date_updated asc">
                        {{ 'bo.folder.filter.by.last.recording'|trans }}
                        <i class="kl-icon-sort fa fa-sort-amount-up-alt float-right mt-1 ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="id-list-content"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_folder_list_datatable_ajax = "{{ path('folder_list_datatable_ajax') }}";
        var url_folder_list_ajax = "{{ path('folder_list_ajax') }}";
        var href_edit_default = "{{ path('folder_edit', {id: 0}) }}";
        var href_delete_default = "{{ path('folder_delete', {id: 0}) }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var default_sorting = [[1, 'desc']];
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/folder/list.ajax.js') }}"></script>
{% endblock %}
