<div class="row">
    {% if folders|length > 0 %}
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2">
            <ul class="kl-folder-list">
                {% for folder in folders %}
                    <li class="row align-items-center">
                        <div class="col-4">
                            <a href="{{ path('folder_ticket_list', {id: folder.id}) }}" class="kl-folder-tag"> {{ folder.name }}</a>
                        </div>
                        <div class="col-6">
                            <p>{{ 'bo.folder.date.enregistrement'|trans ~' : '~ folder.date_enregistrement }}</p>
                            <p>{{ folder.nbr_transaction }}</p>
                        </div>
                        <div class="col-1 kl-button-edit-folder">
                            <a href="{{ path('folder_edit', {id: folder.id}) }}"><i class="feather icon-edit"></i></a>
                        </div>
                        <div class="col-1 kl-button-edit-folder">
                            <a href="{{ path('folder_delete', {id: folder.id}) }}"><i class="feather kl-remove-elt icon-trash-2"></i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="col-md-6 offset-md-3 text-center text-white">
            {{ 'bo.datatable.no.enregistrement'|trans }}
        </div>
    {% endif %}
</div>