{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }}
    {{ parent() }} {{ 'bo.ticket'|trans }}{% endblock %}
{% set menu_folder = true %}

{% block body %}

    <div class="container-fluid flex-grow-1 container-p-y">

        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.folder.index.title'|trans,
                'breadcrumb_root_name': 'bo.sidebar.folder'|trans,
                'breadcrumb_root_name_path': path('folder_index'),
                'breadcrumb_action':  folder.fldName,
            } %}

        <div class="row align-items-center m-l-0">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 text-right">
                <span class=" text-success">  {{ 'bo.folder.ticket.total.amount'|trans }} : </span>
                <span  class=" text-success" id="id-total-amount"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table id="id-ticket-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr>
                                    <th>{{ 'bo.ticket.name'|trans }}</th>
                                    <th>{{ 'bo.folder.ticket.reference'|trans }}</th>
                                    <th>{{ 'bo.transaction.montant'|trans }}</th>
                                    <th>{{ 'bo.transaction.date.heure.emission'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_folder_ticket_list_ajax = "{{ path('folder_ticket_list_ajax',{id: folder.id}) }}";
    </script>
    <script type="text/javascript" src="{{ asset('backoffice/js/folder/list.ticket.ajax.js') }}"></script>

{% endblock %}