{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.company.new.title.tab'|trans }} {% endblock %}

{% set menu_company = true %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.company.index.title'|trans,
                'breadcrumb_root_name': 'bo.sidebar.company'|trans,
                'breadcrumb_root_name_path': path('company_index'),
                'breadcrumb_action': 'bo.index.adding'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.company.new.title.tab'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(form) }}
                                {{ form_row(form.zrpCompanyActivity) }}
                                {{ form_row(form.zrpUser) }}
                                {{ form_row(form.zrpCompanyType) }}
                                {{ form_row(form.zrpCity) }}
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <div style="height:300px; width:100%">
                                                    <div style="height:300px; width:100%" id="id-map-canvas"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_row(form.cmpCp) }}
                                {{ form_row(form.cmpName) }}
                                {{ form_row(form.cmpSiren) }}
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2 required"
                                           for="zrp_service_metiermanagerbundle_erp">{{ 'bo.company.index.th.effectif'|trans }}</label>
                                    <div class="col-sm-10">
                                        <div class="position-relative">
                                            <select
                                                    name="selection_effectif"
                                                    class="custom-select kl-select-two kl-select-ville"
                                                    style="width: 100%"
                                                    id="ville" required>
                                                <option value="0">{{ 'bo.company.select.effective.placeholder'|trans }}</option>
                                                {% for output in outputs %}
                                                    <option value="{{ output }}">{{ output }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {{ form_row(form.cmp_ca) }}
                                {{ form_row(form.cmpCheckoutNbr) }}
                                {{ form_row(form.cmpZeropCheckoutNbr) }}
                                {{ form_row(form.cmpDesc) }}

                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2">{{ form_label(form.cmpDateCreation) }}</label>
                                    {{ form_widget(form.cmpDateCreation, {
                                        'attr': { 'class': 'form-control kl-date-time-picker readonly', }
                                    })
                                    }}
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2">{{ form_label(form.cmpZeropCheckoutDate) }}</label>
                                    {{ form_widget(form.cmpZeropCheckoutDate, {
                                        'attr': { 'class': 'form-control kl-date-time-picker readonly', }
                                    })
                                    }}
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary kl-btn-save">
                                            {{ 'bo.button.save'|trans }}
                                        </button>
                                        <a href="{{ path('company_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_city_list_ajax = "{{ path('company_list_ajax_city') }}";
        var error_message_zerop = "{{ 'bo.company.error.message.zerop'|trans }}";
        var error_message = "{{ 'bo.company.error.message'|trans }}";
        var is_edit = false;
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/company/company.edit.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmwCw37HTccUqVj1GlzTP_0F2N_CsAPrM&libraries=places"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/company/map.company.js') }}"></script>
{% endblock %}

