{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.company.modif.title'|trans }} {% endblock %}

{% set menu_company        = true %}
{% set menu_company_create = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.company.index.title'|trans,
                'breadcrumb_root_name': 'bo.company.index.title'|trans,
                'breadcrumb_root_name_path': path('company_index'),
                'breadcrumb_action': 'bo.index.updating'|trans
            } %}

        <div class="row align-items-center m-l-0">
            <div class="col-sm-6"></div>
            {% if is_granted('ROLE_SUPERADMIN')  %}
                <div class="col-sm-6 text-right">
                    {% if last_transaction and  last_transaction.cmpTrxDate %}
                        <span class=" text-success"> {{ 'bo.transaction.date.time.syncronization'|trans }}:
                            {{ last_transaction and  last_transaction.cmpTrxDate ?  last_transaction.cmpTrxDate|date('d/m/Y H:i') : '' }}
                    </span>
                    {% endif %}
                    {% if company_erp %}
                        <a href="{{ path('transaction_recover_transaction', {_company_id : company.id }) }}"
                           class="btn btn-success btn-sm mb-3 btn-round">
                            <i class="feather icon-plus"></i>
                            {{ 'bo.transaction.recover'|trans }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.company.modif.title'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(edit_form) }}
                                {{ form_row(edit_form.zrpCompanyActivity) }}
                                {{ form_row(edit_form.zrpUser) }}
                                {{ form_row(edit_form.cmpName) }}
                                {{ form_row(edit_form.zrpCity) }}
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <div style="height:300px; width:100%">
                                                    <div style="height:300px; width:100%" id="id-map-canvas"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_row(edit_form.cmpCp) }}
                                {{ form_row(edit_form.cmpSiren) }}
                                {{ form_row(edit_form.zrpCompanyType) }}
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2 required"
                                           for="zrp_service_metiermanagerbundle_erp">{{ 'bo.company.index.th.effectif'|trans }}</label>
                                    <div class="col-sm-10">
                                        <div class="position-relative">
                                            <select
                                                    name="selection_effectif"
                                                    class="custom-select kl-select-two kl-select-ville"
                                                    style="width: 100%"
                                                    id="ville" required>
                                                <option>{{ 'bo.company.select.effective.placeholder'|trans }}</option>
                                                {% for output in outputs %}
                                                    <option value="{{ output }}" {% if(min_max_value == output) %}selected{% endif %}>{{ output }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {{ form_row(edit_form.cmp_ca) }}
                                {{ form_row(edit_form.cmpCheckoutNbr) }}
                                {{ form_row(edit_form.cmpZeropCheckoutNbr) }}
                                {{ form_row(edit_form.cmpDesc) }}

                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2">{{ form_label(edit_form.cmpDateCreation) }}</label>
                                    {{ form_widget(edit_form.cmpDateCreation, {
                                        'attr': { 'class': 'form-control kl-date-time-picker readonly', }
                                    })
                                    }}
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2">{{ form_label(edit_form.cmpZeropCheckoutDate) }}</label>
                                    {{ form_widget(edit_form.cmpZeropCheckoutDate, {
                                        'attr': { 'class': 'form-control kl-date-time-picker readonly', }
                                    })
                                    }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary kl-btn-save">
                                            {{ 'bo.button.update'|trans }}
                                        </button>
                                        <a href="{{ path('company_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_city_list_ajax = "{{ path('company_list_ajax_city') }}";
        var error_message_zerop = "{{ 'bo.company.error.message.zerop'|trans }}";
        var error_message = "{{ 'bo.company.error.message'|trans }}";
        var is_edit = true;
    </script>

    <!-- Delete file -->
    <script src="{{ asset('backoffice/js/delete.file.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/company/company.edit.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmwCw37HTccUqVj1GlzTP_0F2N_CsAPrM&libraries=places"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/company/map.company.js') }}"></script>

{% endblock %}