{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.company'|trans }} {% endblock %}

{% set menu_company = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.company.index.title'|trans,
                'breadcrumb_root_name': 'bo.sidebar.company'|trans,
                'breadcrumb_root_name_path': path('company_index'),
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6">
                                <div class="form-group row ">
                                    <label class="col-form-label col-sm-2 text-white"
                                           for="zrp_service_metiermanagerbundle_erp">{{ 'bo.company.select.activite.label'|trans }}
                                        : </label>
                                    <div class="col-sm-9">
                                        <select id="id-select-activity"
                                                name="zrp_activity" class="form-control kl-activity kl-select-two">
                                            <option selected
                                                    value="">{{ 'bo.company.select.all.activite.placeholder.label'|trans }}</option>
                                            {% for activity in activities %}
                                                <option value="{{ activity.id }}">{{ activity.cmpActName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a href="{{ path('company_add') }}" class="btn btn-success btn-sm mb-3 btn-round">
                                    <i class="feather icon-plus"></i>
                                    {{ 'bo.company.button.add'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive pb-4">
                            <table id="id-company-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <button id="id-btn-filter"
                                                    class="btn btn-success btn-sm btn-round kl-btn-customer-filter">{{ 'bo.datatable.filter'| trans }}</button>
                                            <button id="id-btn-reset"
                                                    class="btn btn-default btn-sm btn-round kl-btn-customer-clear-filter">{{ 'bo.global.reset'| trans }}</button>
                                        </th>
                                        <th>
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" id="id-filter-rs"
                                                   placeholder="{{ 'bo.company.index.th.raison.social'|trans }}">
                                        </th>
                                        <th>
                                            <input type="text" class="form-control kl-width-cent" id="id-filter-code-postal"
                                                   placeholder="{{ 'bo.transaction.code.postal.facture'|trans }}">
                                        </th>
                                        <th>
                                            <select id="id-select-type-entreprise"
                                                    name="zrp_type_entreprise" class="form-control kl-activity kl-select-two">
                                                <option selected
                                                        value="">{{ 'bo.company.index.th.company.type'|trans }}</option>
                                                {% for type_entreprise in type_entreprises %}
                                                    <option value="{{ type_entreprise.id }}">{{ type_entreprise.cmpTpName }}</option>
                                                {% endfor %}
                                            </select>
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" id="id-filter-commune-facturant" placeholder="{{ 'bo.company.commune.company'|trans }}">
                                            <div  id="id-map-canvas"></div>
                                        </th>
                                        <th class="kl-select-scroll-two">
                                            <select id="id-select-type-erp"
                                                    name="zrp_erp" class="form-control kl-activity kl-select-two">
                                                <option selected
                                                        value="">Sélectionner</option>
                                                {% for erp in erps %}
                                                    <option value="{{ erp.id }}">{{ erp.erpName }}</option>
                                                {% endfor %}
                                            </select>
                                        </th>
                                        <th><input type="text" class="form-control" id="id-filter-effectif"
                                                   placeholder="Effectif"></th>

                                        <th><input type="text" class="form-control kl-date-time-picker"
                                                   placeholder="JJ/MM/AAAA" id="id-filter-date-creation"></th>
                                        <th>
                                            <input type="text" class="form-control" id="id-filter-ca" placeholder="CA">
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" id="id-filter-nbr-caisse"
                                                   placeholder="Nombre de caisse">
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" id="id-filter-nbr-caisse-zerop"
                                                   placeholder="Nombre de caisse Zerop">
                                        </th>
                                        <th><input type="text" class="form-control kl-date-time-picker"
                                                   placeholder="JJ/MM/AAAA" id="id-filter-date-caisse"></th>
                                        <th>
                                            <select id="id-select-user"
                                                    name="zrp_erp" class="form-control kl-activity kl-select-two">
                                                <option selected
                                                        value="">Sélectionner</option>
                                                {% for user in users %}
                                                    <option value="{{ user.id }}">{{ user.usrFirstname }}  {{ user.usrLastname }}</option>
                                                {% endfor %}
                                            </select>
                                        </th>
                                        <th>
                                            <input type="text" placeholder="{{ 'bo.company.index.th.numero.siren'|trans }}" class="form-control" id="id-filter-siren">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="no-sort">{{ 'bo.index.th.action'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.raison.social'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.raison.social'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.code.postal'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.company.type'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.commune'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.erp'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.effectif'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.date.creation'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.chiffre.affaires'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.nbr.caisse'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.nbr.caisse.zerop'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.nbr.date.caisse.zerop'|trans }}</th>
                                        <th>{{ 'bo.user.edit.title'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.numero.siren'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_company_list_ajax = "{{ path('company_list_ajax') }}";
        var href_edit_default = "{{ path('company_edit', {id: 0}) }}";
        var href_delete_default = "{{ path('company_delete', {id: 0}) }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var default_sorting = [[0, 'desc']];
        var url_city_list_ajax = "{{ path('company_list_ajax_city') }}";
        var is_not_client = "{% if(is_granted('ROLE_CLIENT')) %}1{% endif %}";
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmwCw37HTccUqVj1GlzTP_0F2N_CsAPrM&libraries=places"
            type="text/javascript"></script>

    <script type="text/javascript" src="{{ asset('backoffice/js/user/user.city.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/company/list.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/company/map.index.js') }}"></script>
{% endblock %}
