<div id="id-content-page">
    <div class="text-white bg-primary p-2 mb-4"
         style="background: #548235; text-align: center ;color: #ffffff;padding: 1px">
        <h2 class="text-center text-uppercase mb-0 pb-0"
            style="text-transform:uppercase; font-weight: bold ; margin-bottom: -10px">
            <b>Numéro : {{ command.cmdNumber ? command.cmdNumber : '' }}</b>
        </h2>
        <p class="text-center mb-0 pb-0" style="margin-bottom: -10px;">
            <span>Nom : {{ command.zrpClient.cltLastName ? command.zrpClient.cltLastName : '' }}</span>
        </p>
        <p class="text-center mb-0 pb-0">
            <span>Téléphone {{ command.zrpClient.cltLastName ? command.zrpClient.cltPhoneNumber : '' }}</span>
        </p>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <p>
                <b>{{ 'bo.command.field.full.name'|trans }}</b> :
                <span>{{ command.zrpClient.cltLastName ? command.zrpClient.cltLastName ~' '~ command.zrpClient.cltFirstName :'' }}</span>
            </p>
            <p>
                <b>{{ 'bo.command.field.createAt'|trans }}</b> :
                <span>{{ command.cmdCreateAt ? command.cmdCreateAt|date('d-m-Y') : '' }}</span>
            </p>
            <p>
                <b>Détails commande: </b>
                <span>
                  {% for product_detail in product_details %}
                      <ul>
                          <li>Produit : {{ product_detail.pdLibelle }}</li>
                      </ul>
                  {% endfor %}
                </span>
            </p>
        </div>
    </div>
</div>