{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.command'|trans }} {% endblock %}

{% set menu_command = true %}

{% block body %}

    <div style="display: none;" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>

    <div style="display: none;" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.command.index.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.database'|trans,
                'breadcrumb_root_name': 'bo.sidebar.command'|trans,
                'breadcrumb_root_name_path': path('command_index'),
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        <form id="id-form-command-filter" method="GET">
            <input type="hidden" class="kl-command-reset" name="numero_one" value="">
            <input type="hidden" class="kl-command-reset" name="numero_two" value="">
            <input type="hidden" class="kl-command-reset" name="date_command_one" value="">
            <input type="hidden" class="kl-command-reset" name="date_command_two" value="">
            <input type="hidden" class="kl-command-reset" name="montant_one" value="">
            <input type="hidden" class="kl-command-reset" name="montant_two" value="">
            <input type="hidden" class="kl-command-reset" name="decription" value="">
            <input type="hidden" class="kl-command-reset" name="product_id" value="">
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6 text-right">
                                <a href="#" class="btn btn-success btn-sm mb-3 btn-round" id="id-show-modal-add"
                                   data-toggle="modal" data-target="#id-command-add-form-modal"
                                >
                                    <i class="feather icon-plus"></i>
                                    {{ 'bo.command.boutton.add'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive pb-4">
                            <table id="id-command-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr>
                                    <th>
                                        <button id="id-btn-filter" class="btn btn-success btn-sm btn-round kl-btn-customer-filter">{{ 'bo.datatable.filter'| trans }}</button>
                                        <button id="id-btn-reset" class="btn btn-default btn-sm btn-round kl-btn-customer-clear-filter">{{ 'bo.global.reset'| trans }}</button>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control kl-command-reset" id="id-filter-numero_one" placeholder="{{ 'bo.command.field.number'|trans }}">
                                        <span class="kl-span-text-date">à</span>
                                        <input type="text" class="form-control kl-command-reset" id="id-filter-numero-two" placeholder="{{ 'bo.command.field.number'|trans }}">
                                    </th>
                                    <th>
                                        <input type="text" class="form-control kl-command-reset kl-customer-date-of-creation" id="id-filter-date-command-one" placeholder="{{ 'bo.command.field.createAt.format'|trans }}">
                                        <span class="kl-span-text-date">à</span>
                                        <input type="text" class="form-control kl-command-reset kl-customer-date-of-creation" id="id-filter-date_command_two" placeholder="{{ 'bo.command.field.createAt.format'|trans }}">
                                    </th>
                                    <th>
                                        <input type="text" class="form-control kl-command-reset" id="id-filter-montant_one" placeholder="{{ 'bo.command.field.amount'|trans }}">
                                        <span class="kl-span-text-date">à</span>
                                        <input type="text" class="form-control kl-command-reset" id="id-filter-montant_two" placeholder="{{ 'bo.command.field.amount'|trans }}">
                                    </th>
                                    <th>
                                        <input type="text" class="form-control kl-command-reset" id="id-filter-decription" placeholder="{{ 'bo.command.field.description'|trans }}">
                                    </th>
                                    <th>
                                        <select
                                                name="product_id"
                                                class="custom-select kl-select-two kl-select-product kl-command-reset kl-select-filter-product"
                                                id="id-filter-product">
                                            <option value="" selected="selected">
                                                {{ 'bo.select2.placeholder.filter.product'|trans }}
                                            </option>
                                            {% for product in products %}
                                                <option value="{{ product.id }}">{{ product.pdLibelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th class="no-sort">{{ 'bo.index.th.action'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.command.field.number'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.command.field.createAt'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.command.field.amount'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.command.field.description'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.command.field.product'|trans }}</th>
                                    <th class="no-sort">{{ 'bo.command.field.full.name'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Add-->
    <div class="modal fade" id="id-command-add-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'bo.commande.new.title.tab' | trans }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="id-form-add">
                        <img class="kl-sprin" src="{{ asset('backoffice/img/spring.gif') }}"/>
                        <div class="form-group">
                            <label for="id-command-add-number" class="col-form-label">{{ 'bo.command.field.number' | trans }}</label>
                            <input type="number" class="form-control kl-command-add" name="number" id="id-command-add-number" />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-add-createAt" class="col-form-label">{{ 'bo.command.field.createAt' | trans }}</label>
                            <input type="text" class="form-control kl-customer-date-of-creation kl-command-add" name="createAt" id="id-command-add-createAt" />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-add-amount" class="col-form-label">{{ 'bo.command.field.amount' | trans }}</label>
                            <input type="number" class="form-control kl-command-add" name="amount" id="id-command-add-amount"  />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-add-description" class="col-form-label">{{ 'bo.command.field.description' | trans }}</label>
                            <input type="textarea" class="form-control kl-command-add" name="description" id="id-command-add-description"  />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-add-product" class="col-form-label">{{ 'bo.command.field.product' | trans }}</label>
                            <select
                                    name="product_id"
                                    class="custom-select kl-select-two kl-select-product kl-command-add"
                                    id="id-command-add-product">
                                <option value="" selected="selected">
                                    {{ 'bo.select2.placeholder.select'|trans }}
                                </option>
                                {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.pdLibelle }}</option>
                                {% endfor %}
                            </select>
                            <span class="kl-error-span-validate select-error" id="id-message-error-add-product"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-add-full-name" class="col-form-label">{{ 'bo.command.field.last.name' | trans }}</label>
                            <select
                                    name="client_id"
                                    class="custom-select kl-select-two kl-select-client kl-command-add"
                                    id="id-command-add-full-name">
                                <option value="" selected="selected">
                                    {{ 'bo.select2.placeholder.select'|trans }}
                                </option>
                                {% for client in clients %}
                                    <option value="{{ client.id }}">{{ client.cltLastName }} {{ client.cltFirstName }}</option>
                                {% endfor %}
                            </select>
                            <span class="kl-error-span-validate select-error" id="id-message-error-add-full-name"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a type="button" href="#" class="btn btn-secondary" data-dismiss="modal">{{ 'bo.global.cancel' | trans }}</a>
                    <a type="button" href="#" class="btn btn-primary" id="id-button-save-add" >{{ 'bo.button.save' | trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Edit-->
    <div class="modal fade" id="id-command-edit-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'bo.command.edit.title.tab' | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="id-form-edit">
                        <input type="hidden" class="form-control" id="id-command-edit-id" />
                        <div class="form-group">
                            <label for="id-command-edit-number" class="col-form-label">{{ 'bo.command.field.number' | trans }}</label>
                            <input type="number" class="form-control kl-command-edit" name="number" id="id-command-edit-number" />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-edit-createAt" class="col-form-label">{{ 'bo.command.field.createAt' | trans }}</label>
                            <input type="text" class="form-control kl-customer-date-of-creation kl-command-edit" name="createAt" id="id-command-edit-createAt" />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-edit-amount" class="col-form-label">{{ 'bo.command.field.amount' | trans }}</label>
                            <input type="number" class="form-control kl-command-edit" name="amount" id="id-command-edit-amount"  />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-edit-description" class="col-form-label">{{ 'bo.command.field.description' | trans }}</label>
                            <input type="textarea" class="form-control kl-command-edit" name="description" id="id-command-edit-description"  />
                            <span class="kl-error-span-validate"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-edit-product" class="col-form-label">{{ 'bo.command.field.product' | trans }}</label>
                            <select
                                    name="product_id"
                                    class="custom-select kl-select-two kl-select-product kl-command-edit"
                                    id="id-command-edit-product">
                                <option value="" selected="selected">
                                    {{ 'bo.select2.placeholder.select'|trans }}
                                </option>
                                {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.pdLibelle }}</option>
                                {% endfor %}
                            </select>
                            <span class="kl-error-span-validate select-error" id="id-message-error-edit-product"></span>
                        </div>
                        <div class="form-group">
                            <label for="id-command-edit-full-name" class="col-form-label">{{ 'bo.command.field.last.name' | trans }}</label>
                            <select
                                    name="client_id"
                                    class="custom-select kl-select-two kl-select-client kl-command-edit"
                                    id="id-command-edit-full-name">
                                <option value="" selected="selected">
                                    {{ 'bo.select2.placeholder.select'|trans }}
                                </option>
                                {% for client in clients %}
                                    <option value="{{ client.id }}">{{ client.cltLastName }} {{ client.cltFirstName }}</option>
                                {% endfor %}
                            </select>
                            <span class="kl-error-span-validate select-error" id="id-message-error-edit-full-name"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a type="button" href="#" class="btn btn-secondary" data-dismiss="modal">{{ 'bo.global.cancel' | trans }}</a>
                    <a type="button" href="#" class="btn btn-primary" id="id-button-save-edit" >{{ 'bo.button.command.save' | trans }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_command_list_ajax = "{{ path('command_list_ajax') }}";
        var url_command_edit_default = "{{ path('command_edit_ajax', {id: 0}) }}";
        var url_command_delete_default = "{{ path('command_delete_ajax', {id: 0}) }}";
        var url_command_add_default = "{{ path('command_add_ajax') }}"
        var url_command_update_default = "{{ path('command_update_ajax', {id: 0}) }}";
        var url_command_generate_pdf_default = "{{ path('command_generate_pdf', {id: 0}) }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var default_sorting = [[1, 'desc']];
        var datatable = undefined;
        var error_message = "{{ 'bo.command.general.error.message'| trans }}";
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/command/build.error.message.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/command/list.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/command/add.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/command/edit.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/command/update.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/command/delete.ajax.js') }}"></script>
{% endblock %}