{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.cash.register.new.title.tab'|trans }} {% endblock %}

{% set form_errors = form.vars.errors.form.getErrors(true) %}
{% set menu_cash_register = true %}
{% set menu_cash_register_create = true %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.sidebar.cash.register'|trans,
                'breadcrumb_root_name': 'bo.sidebar.cash.register'|trans,
                'breadcrumb_root_name_path': path('cash_register_index'),
                'breadcrumb_action': 'bo.index.adding'|trans
         } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.cash.register.new.title.tab'|trans }}</h5>
                        </div>

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}

                        <div class="card-body bg-white">
                            {{ form_start(form) }}
                                {% if form_errors|length %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form_errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_SUPERADMIN') %}
                                    {{ form_row(form.zrpCompany) }}
                                {% endif %}
                                    {{ form_row(form.csRgtNum) }}
                                    {{ form_row(form.csRgtName) }}
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary kl-btn-save">
                                            {{ 'bo.button.save'|trans }}
                                        </button>
                                        <a href="{{ path('cash_register_index') }}" class="btn btn-secondary kl-btn-cancel">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script type="text/javascript" src="{{ asset('backoffice/js/cash_register/edit.cash.register.js') }}"></script>
{% endblock %}
