{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.cash.register.edit.title.tab'|trans }} {% endblock %}

{% set menu_cash_register = true %}
{% set menu_cash_register_create = true %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.sidebar.cash.register'|trans,
                'breadcrumb_root_name': 'bo.sidebar.cash.register'|trans,
                'breadcrumb_root_name_path': path('cash_register_index'),
                'breadcrumb_action': 'bo.index.updating'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.cash.register.edit.title.tab'|trans }}</h5>
                        </div>
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <div class="card-body bg-white">
                            {{ form_start(form) }}
                                {% if is_granted('ROLE_SUPERADMIN') %}
                                    {{ form_row(form.zrpCompany) }}
                                {% endif %}
                                {{ form_row(form.csRgtNum) }}
                                {{ form_row(form.csRgtName) }}
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary">
                                            {{ 'bo.button.update'|trans }}
                                        </button>
                                        <a href="{{ path('cash_register_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





