{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.cash.register'|trans }} {% endblock %}

{% set menu_cash_register = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.sidebar.cash.register'|trans,
                'breadcrumb_base_root': 'bo.sidebar.cash.register'|trans,
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6 text-right">
                                {% if is_granted('ROLE_ENTREPRISE') or is_granted('ROLE_SUPERADMIN') %}
                                    <a href="{{ path('cash_register_new') }}" class="btn btn-success btn-sm mb-3 btn-round kl-btn-create">
                                        <i class="feather icon-plus"></i>
                                        {{ 'bo.cash.register.button.add'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
                        <div class="table-responsive pb-4">
                            <table id="id-cash-register-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr>
                                        <th class="no-sort">{{ 'bo.index.th.action'|trans }}</th>
                                        <th>{{ 'bo.cash.register.num'|trans }}</th>
                                        <th>{{ 'bo.cash.register.name'|trans }}</th>
                                        <th>{{ 'bo.company.index.name'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.code.postal.company'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.numero.siren'|trans }}</th>
                                        <th>{{ 'bo.company.index.th.nbr.caisse.zerop'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_cash_register_list_ajax = "{{ path('cash_register_list_ajax') }}";
        var href_edit_default = "{{ path('cash_register_edit', {id: 0}) }}";
        var href_delete_default = "{{ path('cash_register_delete', {id: 0}) }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var is_company_role = '{{ is_granted('ROLE_ENTREPRISE') or is_granted('ROLE_SUPERADMIN')  ? 1 : 0}}';
        var is_user_role = '{{ is_granted('ROLE_SUPERADMIN')  ? 1 : 0}}';
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/cash_register/list.ajax.js') }}"></script>
{% endblock %}
