{% extends 'frontoffice/base_front.html.twig' %}

{% set locale = app.request.locale %}

{% block title %}{{ parent() }} {{ cms.translate(locale).cmstTitle }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="list-count text-center kl-title-bloc">
            <h2 class="kl-title-page">{{ cms.translate(locale).cmstTitle }}</h2>
        </div>
        <div class="">
            {{ cms.translate(locale).cmstContent|raw }}
        </div>
    </div>
{% endblock %}