{% set locale = app.request.locale %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Générateur de site <span>Copyright 2020</span></p>
            </div>
            <div class="col-md-4">
                <p style="text-align: right !important;">
                    {% if cms_mentions_legales %}
                        <a href="{{ path('cms_front_show', {'_id' : cms_mentions_legales.id, '_slug' : cms_mentions_legales.translate(locale).cmstSlug }) }}">
                            {{ 'footer.menu.mentions.legales'|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</footer>