{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.user.new.title.tab'|trans }} {% endblock %}
{% set form_errors = form.vars.errors.form.getErrors(true) %}

{% set menu_user        = true %}
{% set menu_user_create = true %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.user.index.title'|trans,
                'breadcrumb_root_name': 'bo.user.index.title'|trans,
                'breadcrumb_root_name_path': path('user_index'),
                'breadcrumb_action': 'bo.index.adding'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header">
                            <h5>{{ 'bo.user.new.title.tab'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(form) }}
                                {% if form_errors|length %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form_errors %}
                                            {{ error.message }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ form_row(form.usrLastname) }}
                                {{ form_row(form.usrFirstname) }}
                                {{ form_row(form.usrPhoneNumber) }}
                                {{ form_row(form.usrAddress) }}
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2">{{ form_label(form.usrDateBirth) }}</label>
                                    {{ form_widget(form.usrDateBirth, {
                                        'attr': { 'class': 'form-control kl-date-time-picker readonly' }
                                    })}}
                                </div>
                                {{ form_row(form.usrImgUrl) }}
                                {{ form_row(form.zrpCity) }}
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <div style="height:300px; width:100%">
                                                    <div style="height:300px; width:100%" id="id-map-canvas"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {{ form_row(form.username) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.usrIsEnabled) }}
                                {{ form_row(form.zrpRole) }}
                                {{ form_row(form.password.first) }}
                                {{ form_row(form.password.second) }}
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary" id="id-btn-submit">
                                            {{ 'bo.button.save'|trans }}
                                        </button>
                                        <a href="{{ path('user_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var url_city_list_ajax = "{{ path('company_list_ajax_city') }}";
        var is_not_client = "{% if(is_granted('ROLE_CLIENT')) %}1{% endif %}";
    </script>
    <script src="{{ asset('backoffice/js/user/user.city.ajax.js') }}" type="text/javascript"></script>
    <script src="{{ asset('backoffice/js/user/edit.js') }}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmwCw37HTccUqVj1GlzTP_0F2N_CsAPrM&libraries=places"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/user/map.user.js') }}"></script>
{% endblock %}
