{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.user.modif.title'|trans }} {% endblock %}
{% set form_errors = edit_form.vars.errors.form.getErrors(true) %}

{% set menu_user        = true %}
{% set menu_user_create = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.user.index.title'|trans,
                'breadcrumb_root_name': 'bo.user.index.title'|trans,
                'breadcrumb_root_name_path': path('user_index'),
                'breadcrumb_action': 'bo.index.updating'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header">
                            <h5>{{ 'bo.user.modif.title'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(edit_form,{'attr': {'id': 'id-string-length'}}) }}
                                {% if form_errors|length %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form_errors %}
                                            {{ error.message }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ form_row(edit_form.usrLastname) }}
                                {{ form_row(edit_form.usrFirstname) }}

                                {% if(is_granted('ROLE_CLIENT')) %}
                                    {{ form_row(edit_form.usrPhoneNumber, {'attr' : {'required' : 'required'} } ) }}
                                    {{ form_row(edit_form.usrAddress, {'attr' : {'required' : 'required'} } ) }}
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-2">{{ form_label(edit_form.usrDateBirth) }}</label>
                                        {{ form_widget(edit_form.usrDateBirth, {
                                            'attr': { 'class': 'form-control kl-date-time-picker readonly' }
                                        })}}
                                    </div>
                                {% else %}
                                    {{ form_row(edit_form.usrPhoneNumber) }}
                                    {{ form_row(edit_form.usrAddress) }}
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-2">{{ form_label(edit_form.usrDateBirth) }}</label>
                                        {{ form_widget(edit_form.usrDateBirth, {
                                            'attr': { 'class': 'form-control kl-date-time-picker readonly' }
                                        })}}
                                    </div>
                                {% endif %}

                                {{ form_row(edit_form.usrImgUrl) }}
                                <div class="row">
                                    <div class="form-group">
                                        {% if user.usrImgUrl %}
                                            <div class="col-md-12 blc-image">
                                                        <span class="delete-image pull-right">
                                                            <a href="javascript:void(0);" id="file-{{ user.id }}"
                                                               onClick="deleteFile({{ user.id }}, $(this));" class="btn_effacer"
                                                               ajax-url="{{ path('user_delete_image_ajax') }}">
                                                                <span>
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </span>
                                                            </a>
                                                        </span>
                                                <div class="image-container-block kl">
                                                    <img class="img-vignette img-responsive ui-w-100"
                                                         src="{{ user.usrImgUrl }}" />
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if app.user.zrpRole.id == role_entreprise_id %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-2">{{ 'bo.company.select.label.fonction.company'|trans }}</label>
                                        <div class="col-sm-10">
                                            <select name="zrpCompanyActivity" class="form-control kl-select-two" required="required">
                                                <option value="">{{ 'bo.company.select.fonction.placeholder.label'|trans }}</option>
                                                {% for company_activity in company_activity %}
                                                    {% set selected = '' %}
                                                    {% if company.zrpCompanyActivity %}
                                                        {% if company_activity.id == company.zrpCompanyActivity.id %}
                                                            {% set selected = 'selected' %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <option {{ selected }} value="{{ company_activity.id }}">{{ company_activity.cmpActName }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
{#                                    <div class="form-group row">#}
{#                                        <label class="col-form-label col-sm-2">{{ 'bo.transaction.commune.company'|trans }}</label>#}
{#                                        <div class="col-sm-10">#}
{#                                            <select name="zrpCity" class="form-control kl-select-city" required="required">#}
{#                                                <option value="">{{ 'bo.company.select.commune.company'|trans }}</option>#}
{#                                                {% for city in city %}#}
{#                                                    {% set selected = '' %}#}
{#                                                    {% if company.zrpCity %}#}
{#                                                        {% if city.id == company.zrpCity.id %}#}
{#                                                            {% set selected = 'selected' %}#}
{#                                                        {% endif %}#}
{#                                                    {% endif %}#}
{#                                                    <option {{ selected }} value="{{ city.id }}">{{ city.ctName }} {{ city.zrpCountry ? '(' ~ city.zrpCountry.cntrIso3 ~ ')' }}</option>#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-2">{{ 'bo.company.index.th.raison.social'|trans }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="cmpName" class="form-control" value="{{ company.cmpName }}" required="required">
                                        </div>
                                    </div>

{#                                    <div class="form-group row">#}
{#                                        <label class="col-form-label col-sm-2">{{ 'bo.company.index.th.code.postal.company'|trans }}</label>#}
{#                                        <div class="col-sm-10">#}
{#                                            <input type="text" name="cmpCp" class="form-control"#}
{#                                                   data-bv-regexp="true" data-bv-regexp-regexp="^\+?[0-9]*$"#}
{#                                                   data-bv-regexp-message="Veuillez fournir une valeur valide."#}
{#                                                   data-bv-notempty-message="Ce champ est requis"#}
{#                                                   value="{{ company.cmpCp }}" required="required">#}
{#                                        </div>#}
{#                                    </div>#}
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-2">{{ 'bo.user.siren'|trans }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="cmpSiren" class="form-control"
                                                   data-bv-regexp="true" data-bv-regexp-regexp="^\+?[0-9]*$"
                                                   data-bv-regexp-message="Veuillez fournir une valeur valide."
                                                   data-bv-notempty-message="Ce champ est requis"
                                                   value="{{ company.cmpSiren }}" required="required">
                                        </div>
                                    </div>
                                {% endif %}
                                {% if(is_granted('ROLE_CLIENT') or is_granted('ROLE_ENTREPRISE')) %}
                                    {{ form_row(edit_form.zrpCity, {'attr' : {'required' : 'required'} }) }}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <div style="height:300px; width:100%">
                                                        <div style="height:300px; width:100%" id="id-map-canvas"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" {% if is_granted('ROLE_CLIENT') %} d-none {% endif %}">
                                        {{ form_row(edit_form.cmpCp) }}
                                    </div>
                                {% else %}
                                    {{ form_row(edit_form.zrpCity) }}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <div style="height:300px; width:100%">
                                                        <div style="height:300px; width:100%" id="id-map-canvas"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if(is_granted('ROLE_ENTREPRISE')) %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-2">{{ 'bo.company.label.desc'|trans }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="cmpDesc" class="form-control" value="{{ desc_company }}" required>
                                        </div>
                                    </div>
                                {% endif %}
                                <hr>
                                {{ form_row(edit_form.username) }}
                                {{ form_row(edit_form.email) }}
                                {{ form_row(edit_form.usrIsEnabled) }}
                                {{ form_row(edit_form.zrpRole) }}
                                {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
                                    {{ form_row(edit_form.password.first) }}
                                    {{ form_row(edit_form.password.second) }}
                                {% endif %}
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary" id="id-btn-submit">
                                            {{ 'bo.button.update'|trans }}
                                        </button>
                                        {% if is_granted('ROLE_SUPERADMIN') %}
                                            <a href="{{ path('user_index') }}" class="btn btn-secondary">
                                                {{ 'bo.global.cancel'|trans }}
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_ENTREPRISE') or is_granted('ROLE_CLIENT') %}
                                            <a href="{{ path('dashboard_index') }}" class="btn btn-secondary">
                                                {{ 'bo.global.cancel'|trans }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Delete file -->
    <script type="text/javascript">
        var is_not_client = "{% if(is_granted('ROLE_CLIENT')) %}1{% endif %}";
        var url_city_list_ajax = "{{ path('company_list_ajax_city') }}";
    </script>
    <script src="{{ asset('backoffice/js/delete.file.js') }}" type="text/javascript"></script>
    <script src="{{ asset('backoffice/js/user/edit.js') }}" type="text/javascript"></script>
    <!-- Delete file -->
    <script src="{{ asset('backoffice/js/delete.file.js') }}" type="text/javascript"></script>
    <script src="{{ asset('backoffice/js/user/user.city.ajax.js') }}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmwCw37HTccUqVj1GlzTP_0F2N_CsAPrM&libraries=places"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/user/map.user.js') }}"></script>

{% endblock %}