{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.user'|trans }} {% endblock %}

{% set menu_user = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.user.index.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.user'|trans,
                'breadcrumb_root_name_path': path('user_index'),
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- <div class="card-header">
                        <h5>{{ 'bo.user.index.title.tab'|trans }}</h5>
                    </div> -->
                    <div class="card-body p-0">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6 text-right">
                                <a href="{{ path('user_add') }}" class="btn btn-success btn-sm mb-3 btn-round">
                                    <i class="feather icon-plus"></i>
                                    {{ 'bo.user.button.add'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive pb-4">
                            <table id="id-user-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th class="no-sort">{{ 'bo.index.th.action'|trans }}</th>
                                        <th>{{ 'bo.user.field.lastname'|trans }}</th>
                                        <th>{{ 'bo.user.field.email'|trans }}</th>
                                        <th>{{ 'bo.user.field.address'|trans }}</th>
                                        <th>{{ 'bo.user.field.role'|trans }}</th>
                                        <th>{{ 'bo.user.field.register'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_user_list_ajax = "{{ path('user_list_ajax') }}";
        var href_edit_default = "{{ path('user_edit', {id: 0}) }}";
        var href_delete_default = "{{ path('user_delete', {id: 0}) }}";
        var href_show_default = "{{ path('user_show', {id: 0}) }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var default_sorting = [[1, 'desc']];
        var user_id = "{{ app.user.id }}";
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/user/list.ajax.js') }}"></script>
{% endblock %}
