{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.user.show.title'|trans }} {% endblock %}

{% set menu_user        = true %}
{% set menu_user_show = true %}
{% block body %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.user.index.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.user'|trans,
                'breadcrumb_root_name': 'bo.user.index.title'|trans,
                'breadcrumb_root_name_path': path('user_index'),
                'breadcrumb_action': 'bo.user.show.title'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header">
                            <h5>{{ 'bo.user.show.title'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                                <div class="col-12 col-12 col-md-12 col-lg-3">
                                    <div class="kl-card kl-spaced kl-img-user">
                                        <div class="kl-cercle-user" style="padding: 5%">
                                            {% if user.usrImgUrl %}
                                                <img src="{{ user.usrImgUrl|imagine_filter('photo_user_profil') }}" class="img-responsive" alt=" ">
                                            {% else %}
                                                <img src="{{ asset('img/no-image-available.png')|imagine_filter('photo_user_profil') }}" class="img-responsive" alt="">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-9">
                                    <div class="kl-card kl-spaced kl-img-user">
                                        {% if user.usrLastname %}
                                        <p>
                                            <b>{{ 'bo.user.field.lastname' | trans }}</b> :
                                            <span>{{ user.usrLastname }}</span>
                                        </p>
                                        {% endif %}

                                        {% if user.usrFirstname %}
                                            <p>
                                                <b>{{ 'bo.user.field.firstname' | trans }}</b> :
                                                <span>{{ user.usrFirstname }}</span>
                                            </p>
                                        {% endif %}
                                        {% if user.usrDateBirth %}
                                            <p>
                                                <b>{{ 'bo.user.field.date.birth' | trans }}</b> :
                                                <span>{{ user.usrDateBirth|date('d/m/Y') }}</span>
                                            </p>
                                        {% endif %}
                                        {% if user.email %}
                                            <p>
                                                <b>{{ 'bo.user.field.email' | trans }}</b> :
                                                <span>{{ user.email }}</span>
                                            </p>
                                        {% endif %}
                                        {% if user.usrAddress %}
                                            <p>
                                                <b>{{ 'bo.user.field.address' | trans }}</b> :
                                                <span>{{ user.usrAddress }}</span>
                                            </p>
                                        {% endif %}
                                        {% if user.usrPhoneNumber %}
                                            <p>
                                                <b>{{ 'bo.user.field.phone' | trans }}</b> :
                                                <span>{{ user.usrPhoneNumber }}</span>
                                            </p>
                                        {% endif %}
                                        {% if user.zrpCity %}
                                            <p>
                                                <b>{{ 'bo.user.field.city' | trans }}</b> :
                                                <span>{{ user.zrpCity.ctName }}</span>
                                            </p>
                                        {% endif %}
                                        {% if user.zrpRole %}
                                            <p>
                                                <b>{{ 'bo.user.field.role' | trans }}</b> :
                                                <span>{{ user.zrpRole.rlName }}</span>
                                            </p>
                                        {% endif %}
                                            <p>
                                                <b>{{ 'bo.user.field.enabled' | trans }}</b> :
                                                {% if user.usrIsEnabled %}
                                                <span class="btn-info">{{ 'bo.global.yes'|trans }}</span>
                                                    {% else %}
                                                        <span class="btn-danger">{{ 'bo.global.no'|trans }}</span>
                                                {% endif %}
                                            </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <a href="{{ path('user_index') }}" class="btn btn-secondary">
                                            {{ 'bo.button.return'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Delete file -->
    <script src="{{ asset('backoffice/js/delete.file.js') }}" type="text/javascript"></script>
{% endblock %}