// Cards
//

.card {
  background-clip: padding-box;
  box-shadow: $card-shadow;
}

.card-link {
  display: inline-block;
}


.card-header {
  line-height: $component-line-height;

  @if $material-style {
    border-bottom-width: 1px;
  }
}

@if $material-style {
  .card-footer {
    border-top-width: 1px;
  }
}

// Inner borders

.card-header,
.card-footer,
.card hr {
  border-color: $card-inner-border-color;
}

.card .list-group-item {
  border-color: rgba-to-hex($card-inner-border-color);
}

.card .row-bordered > [class^="col-"],
.card .row-bordered > [class*=" col-"],
.card .row-bordered > [class^="col "],
.card .row-bordered > [class*=" col "],
.card .row-bordered > [class$=" col"],
.card .row-bordered > [class="col"] {
  &::before,
  &::after {
    border-color: $card-inner-border-color;
  }
}


// *******************************************************************************
// * Header / Title with elements(controls)

.card-header.with-elements,
.card-title.with-elements {
  display: flex;

  width: 100%;

  align-items: center;
  flex-wrap: wrap;
}

.card-header.with-elements {
  padding-top: $card-spacer-y / 2;
  padding-bottom: $card-spacer-y / 2;
}

.card-header-elements,
.card-title-elements {
  display: flex;

  align-items: center;
  flex-wrap: wrap;

  & + &,
  > * + * {
    margin-left: .25rem;
  }
}

.card-header-title {
  padding: ($card-spacer-y / 2) 0;
}

.card-header-elements {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

// *******************************************************************************
// * List groups

.card > .list-group .list-group-item {
  padding-right: $card-spacer-x;
  padding-left: $card-spacer-x;
}

// *******************************************************************************
// * Condenced

.card-condenced {
  .card-header,
  .card-footer,
  > .list-group .list-group-item {
    padding-right: $card-spacer-x-sm;
    padding-left: $card-spacer-x-sm;
  }

  .card-body,
  .card-img-overlay {
    padding: $card-spacer-x-sm;
  }
}
