{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.company.erp.new.title.tab'|trans }} {% endblock %}

{% set menu_company_erp = true %}

{% set form_errors = form.vars.errors.form.getErrors(true) %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.company.erp.index.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.database'|trans,
                'breadcrumb_root_name': 'bo.sidebar.company.erp'|trans,
                'breadcrumb_root_name_path': path('company_erp_index'),
                'breadcrumb_action': 'bo.index.adding'|trans
            } %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="pl-0">
                        <div class="card-header p-0">
                            <h5>{{ 'bo.company.erp.new.title.tab'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(form) }}
                                {% if form_errors|length %}
                                    <div class="alert alert-danger text-center" role="alert">
                                        {% for error in form_errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ form_row(form.zrpCompany) }}
                                {{ form_row(form.zrpErp) }}
                                {{ form_row(form.cmpErpSpecificApi) }}
                                <div class="clearfix"></div>
                                <div class="form-group row mt-4">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary">{{ 'bo.button.save'|trans }}</button>
                                        <a href="{{ path('company_erp_index') }}"
                                           class="btn btn-secondary">{{ 'bo.global.cancel'|trans }}</a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}