@mixin swiper-theme($color) {
  .swiper-pagination-bullet.swiper-pagination-bullet-active,
  .swiper-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: $color !important;
  }
}
