{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.erp.edit.title.tab'|trans }} {% endblock %}

{% set menu_erp = true %}
{% set menu_erp_create = true %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.general.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.database'|trans,
                'breadcrumb_root_name': 'bo.erp.index.title'|trans,
                'breadcrumb_root_name_path': path('erp_index'),
                'breadcrumb_action': 'bo.index.updating'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.erp.edit.tab'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(form) }}
                                {{ form_row(form.erpName) }}
                                {{ form_row(form.erpApiUrl) }}
                                {{ form_row(form.erpApiDatabase) }}
                                {{ form_row(form.erpApiUserEmail) }}
                                {{ form_row(form.erpApiUserPwd) }}
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary">
                                            {{ 'bo.button.update'|trans }}
                                        </button>
                                        <a href="{{ path('erp_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('backoffice/js/erp/edit.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            // Enlever l'obligation du champ mot de passe
            $('#zrp_adminbundle_erp_erpApiUserPwd_first , #zrp_adminbundle_erp_erpApiUserPwd_second').removeAttr('data-bv-notempty-message');
            $('#zrp_adminbundle_erp_erpApiUserPwd_first, #zrp_adminbundle_erp_erpApiUserPwd_second').removeAttr('required');

            $('form').bootstrapValidator('enableFieldValidators', 'zrp_adminbundle_erp[erpApiUserPwd][first]', false);
            $('form').bootstrapValidator('enableFieldValidators', 'zrp_adminbundle_erp[erpApiUserPwd][second]', false);

            $('#zrp_adminbundle_erp_erpApiUserPwd_second').on('input', function () {
                $('#zrp_adminbundle_erp_erpApiUserPwd_first').attr('data-bv-identical', true);
            });
        });
    </script>
{% endblock %}




