{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.transaction.ticket.new.title.tab'|trans }} {% endblock %}
{% set form_errors = form.vars.errors.form.getErrors(true) %}

{% set menu_company = true %}

{% block stylesheets %}
    {{ parent() }}
    {# <link href="{{ asset('backoffice/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css') }}" rel="stylesheet"
            type="text/css" /> #}
    
   
{% endblock %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.ticket'|trans,
                'breadcrumb_root_name': 'bo.folder.ticket.label'|trans,
                'breadcrumb_root_name_path': path('customer_ticket_index'),
                'breadcrumb_action': 'bo.index.adding'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.transaction.ticket.new.title.tab'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(form) }}
                                {% if form_errors|length %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form_errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ form_row(form.zrpCashRegister) }}
                                {{ form_row(form.trxLabel) }}
                                {{ form_row(form.trxAmount) }}
                                {{ form_row(form.trxPostalCodeInvoiced) }}
                                <div class="form-group row kl-datetime-picker d-none">
                                    <label class="col-form-label col-sm-2">{{ form_label(form.trxIssueDate) }}</label>
                                    {{ form_widget(form.trxIssueDate, {
                                        'attr': { 'class': 'form-control kl-dtm date'}
                                    })
                                    }}
                                </div>
                                <div class="form-group row kl-datetime-picker">
                                    <label class="col-form-label col-sm-2" for="zrp_service_metiermanagerbundle_ticket_trxIssueDate">{{ form_label(form.trxIssueDate) }}</label>
                                    <div class="input-group date col-sm-10" id='id-datetime-picker1'>
                                        <input type='text' class="form-control input-group-addon" placeholder="Date et heure d'émission"
                                        name="zrp_service_metiermanagerbundle_ticket[trxIssueDate]"
                                        id="zrp_service_metiermanagerbundle_ticket_trxIssueDate"
                                        autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-form-label col-sm-2">{{ form_label(form.trxFile) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.trxFile)}}
                                            <br>
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary">
                                            {{ 'bo.button.save'|trans }}
                                        </button>
                                        <a href="{{ path('customer_ticket_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# <script src="{{ asset('backoffice/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script> #}
    
    
    <script type="text/javascript">
        var url_city_list_ajax = "{{ path('company_list_ajax_city') }}";
        var error_message_zerop = "{{ 'bo.company.error.message.zerop'|trans }}";
        var error_message = "{{ 'bo.company.error.message'|trans }}";
        var is_edit = false;
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/company/company.edit.js') }}"></script>
{% endblock %}

