{% extends 'email/layout.twig' %}

{% block body_html_content %}
    <td valign="middle" style="width:430px; padding:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
        <p style="margin-top:10px;margin-bottom:10px;">
            Bonjour {{ data['transaction'].zrpCustomer ? data['transaction'].zrpCustomer.zrpUser.usrFullname }},
        </p>
        <p style="margin-top:10px;margin-bottom:10px;"><br><br>Ci-joint votre ticket :</p>

        <p style="margin-top:10px;margin-bottom:10px;"><br><br>Merci</p>
    </td>
{% endblock %}