{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.ticket'|trans }} {% endblock %}

{% set menu_customer_ticket = true %}
{% set ticket_name = '' %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.ticket'|trans,
                'breadcrumb_base_root': 'bo.ticket'|trans,
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        {% if is_granted('ROLE_CLIENT') %}
            <div class="text-right">
                <a href="{{ path('customer_ticket_add') }}" class="btn btn-success btn-sm mb-3 btn-round">
                    <i class="feather icon-plus"></i>
                    {{ 'bo.transaction.ticket.button.add'|trans }}
                </a>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="row mb-4">
                    <div class="col-6 text-center">
                        <button class="kl-underlined-btn" type="button" id="id-dropdown-filter-by" 
                        data-toggle="modal" data-target="#id-dropdown-menu-filter-by">
                            {{ 'bo.folder.filter.order.by'|trans }}
                        </button>
                        {# <div class="dropdown-menu" id="id-dropdown-menu-filter-by" aria-labelledby="id-dropdown-filter-by">
                            
                        </div> #}
                    </div>
                    <div class="col-6 text-center">
                        <button class="kl-underlined-btn dropdown-toggle" type="button" id="id-dropdown-trie-by"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{ 'bo.folder.filter.by'|trans }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="id-dropdown-trie-by">
                            <a class="dropdown-item active" href="javascript:void(0)" data-value="trxLabel asc">
                                {{ 'bo.ticket.filter.by.alphabetical.order.ticket.name'|trans }}
                                <i class="kl-icon-sort fa fa-sort-alpha-up-alt float-right mt-1 ml-2"></i>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" data-value="trxAmount asc">
                                {{ 'bo.ticket.filter.by.amount.asc'|trans }}
                                <i class="kl-icon-sort fa fa-sort-numeric-up-alt float-right mt-1 ml-2"></i>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" data-value="trxPostalCodeInvoiced asc">
                                {{ 'bo.ticket.filter.by.pastal.code.asc'|trans }}
                                <i class="kl-icon-sort fa fa-sort-numeric-up-alt float-right mt-1 ml-2"></i>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" data-value="cmpName asc">
                                {{ 'bo.ticket.filter.by.alphabetical.order.company.name'|trans }}
                                <i class="kl-icon-sort fa fa-sort-alpha-up-alt float-right mt-1 ml-2"></i>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" data-value="trxIssueDate asc">
                                {{ 'bo.transaction.th.date'|trans }}
                                <i class="kl-icon-sort fa fa-sort-alpha-up-alt float-right mt-1 ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="id-list-ticket-visuel">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% include '@Admin/ZrpCustomerTicket/partial/edit_ticket_modal_partial.html.twig' %}
    {% include '@Admin/ZrpCustomerTicket/partial/filter_ticket_modal_partial.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_customer_ticket_list = "{{ path('customer_ticket_list_ajax') }}";
        var url_customer_ticket_update_ajax = "{{ path('customer_ticket_update_ajax' , {id: 0}) }}";
        var url_customer_ticket_list_filter_ajax = "{{ path('customer_ticket_list_filter_ajax') }}";
        var href_show_default = "{{ path('customer_ticket_show', {id: 0}) }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var default_sorting = [[0, 'desc']];
        var txt_success_edit = "{{ 'bo.controller.message.edit'|trans }}";
        var url_cash_register_list_num_ajax = "{{ path('cash_register_list_num_ajax') }}";
        var label_date_interval = "{{ 'bo.ticket.date.intervalle.placeholder'|trans }}";
    </script>
    <script type="text/javascript" src="{{ asset('backoffice/js/customer_ticket/list.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/cash_register/list.num.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/customer_ticket/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/customer_ticket/index.js') }}"></script>
{% endblock %}