{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.ticket'|trans }} {% endblock %}

{% set menu_customer_ticket = true %}
{% set ticket_name = '' %}
{% if transaction.trxIssueDate %}
    {% set ticket_name = transaction.trxIssueDate|date('Y_m_d_') %}
{% endif %}
{% if transaction.trxRef %}
    {% set ticket_name = ticket_name ~ transaction.trxRef %}
{% endif %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.ticket'|trans,
                'breadcrumb_root_name': 'bo.ticket'|trans,
                'breadcrumb_root_name_path': path('customer_ticket_index'),
                'breadcrumb_action': 'bo.global.tooltip.show'|trans
            } %}

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body bg-white">
                        <div class="col-12">
                            <div class="kl-card kl-spaced kl-img-user">
                                {{ include("@Admin/ZrpCustomerTicket/command_detail.html.twig") }}
                                {% if transaction.trxFile %}
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <p>
                                                <b>{{ 'bo.ticket.lien'|trans }}</b> :
                                                <a type="button" class="btn btn-primary" href="{{ transaction.trxFile }}"
                                                target="_blank">{{ 'bo.ticket.show'|trans }}</a>
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="kl-ticket-buttons">
                                <a href="{{ path('customer_ticket_generate_pdf', {'id': transaction.id}) }}" target="_blank"
                                   class="btn btn-primary mr-2" >
                                    {{ 'bo.ticket.download.pdf' | trans }}
                                    <i class="fas fa-file-pdf"></i>
                                </a>
                                <!-- Modal envoie mail -->
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#exampleModal">
                                    {{ 'bo.ticket.share'|trans }}
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                                <!-- Modal download jpeg -->
                                <button type="button" id="id-btn-Convert-html-to-jpeg" class="btn btn-outline-primary">
                                    {{ 'bo.ticket.download.jpeg'|trans }}
                                    <i class="fas fa-file-image"></i>
                                </button>
                                </div>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <form id="id-form-send-mail-ticket" method="post"
                                              action="{{ path('customer_ticket_send_mail') }}">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        {{ 'bo.ticket.modal.text'|trans }}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="hidden" value="{{ app.request.get('id') }}" name="id"/>
                                                    <div class="form-group">
                                                        <label id="id-mail" class="float-left">{{ 'bo.ticket.field.mail'|trans }}</label>
                                                        <input required type="email" name="email"
                                                               class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        {{ 'bo.ticket.button.close'|trans }}
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">
                                                        {{ 'bo.ticket.button.send'|trans }}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="previewImage" style="display: none;"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var filename = "{{ ticket_name }}";
    </script>
    <script type="text/javascript" src="{{ asset('backoffice/js/customer_ticket/download.img.js') }}"></script>
{% endblock %}
