<div style="@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&display=swap'); font-family: 'Open Sans', sans-serif;">
    <div style="border: 1px solid #ebebeb; padding: 20px; width: 45%;float: left;margin: 0 auto">

        {{ include("@Admin/ZrpCustomerTicket/command_detail.html.twig") }}

    </div>
</div>