{% set company_city_checker = transaction.trxAddressBiller %}
<div class="bg-white col-3 p-3 mx-auto kl-bx-ticket">
    <input type="text" data-ticket-id="{{ transaction.id }}" class="kl-edit-ticket-ajax-modal form-control text-center"
           data-toggle="modal" readonly data-target="#id-modal-edit-ticket"
           value="{{ transaction.trxLabel ? transaction.trxLabel : '' }}" placeholder="{{ 'bo.ticket.name'|trans }}"/>
    <div class="kl-check-ticket-info d-flex justify-content-between">
        <p><a href="#">
                {{ company_city_checker ?  transaction.trxAddressBiller|upper~',' }}
                le {{ transaction.trxIssueDate ?
                transaction.trxIssueDate|localizeddate('none', 'none', null, null, 'EEE dd ')|replace({'.':''})|capitalize~
                transaction.trxIssueDate|localizeddate('none', 'none', null, null,'MMM ')|replace({'.':''})|upper~
                transaction.trxIssueDate|localizeddate('none', 'none', null, null, 'Y, HH:mm') }}
                {{ transaction.trxIssueDate ? transaction.trxIssueDate|localizeddate('none', 'none', null, null, 'EEE')~transaction.trxIssueDate|date(" d M Y, H:i") }}</a>
        </p>
        <a href="{{ path('customer_ticket_show', {id: transaction.id}) }}"><i class="feather icon-eye"></i></a>
    </div>
    <div class="text-white bg-primary p-2 mb-2">
        <h2 class="text-center text-uppercase mb-0 pb-0">
            {{ transaction.zrpCompany ? transaction.zrpCompany.cmpName : '' }}
        </h2>
    </div>
    <div class="mb-4">
        {% if transaction.zrpCompany %}
            <p class="text-center mb-0 pb-0">
                <span>
                    {{ transaction.zrpCompany.zrpUser and transaction.zrpCompany.zrpUser.usrAddress ?
                    transaction.zrpCompany.zrpUser.usrAddress : '' }}
                    {{ company_city_checker ?  transaction.trxAddressBiller|upper }}
                </span>
            </p>
            <p class="text-center mb-0 pb-0">
                <span>{{ transaction.zrpCompany and transaction.zrpCompany.cmpSiren ? 'Siret : '~transaction.zrpCompany.cmpSiren | number_format(0,'.',' ') : '' }}</span>
            </p>
            <p class="text-center mb-0 pb-0">
                <span>{{ transaction.zrpCompany and transaction.zrpCompany.zrpUser  ? transaction.zrpCompany.zrpUser.usrPhoneNumber : '' }}</span>
            </p>
        {% endif %}
        <div class="kl-product-item"></div>
    </div>

    {% set transaction_details = transaction.trxDesc  ?  transaction.trxDesc|json_decode : [] %}
    {% set total_ht = 0 %}
    {% if transaction_details|length %}
        <table class="w-100">
            {% for json_detail in transaction_details %}
                {% set total_ht = total_ht + json_detail.price_subtotal %}
                {% if json_detail.qty > 1 %}
                    <tr>
                        <td class="text-left">{{ json_detail.full_product_name }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-left"></td>
                        <td>{{ json_detail.price_unit | number_format(2,'.',' ') ~' x '~ json_detail.qty | number_format(0,'.',' ') }} :</td>
                        <td>{{ json_detail.price_subtotal | number_format(2,'.',' ') }} (1)</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-left">{{ json_detail.full_product_name }}</td>
                        <td></td>
                        <td>{{ json_detail.price_unit|number_format(2,'.',' ') }} (1)</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
    <div class="kl-ticket-total">
        <h6>{{ 'bo.ticket.HT'|trans }}   {{ total_ht != 0 ? total_ht | number_format(2,'.',' ') : transaction.trxAmount | number_format(2,'.',' ') }}</h6>
        <h5>{{ 'bo.ticket.TTC'|trans }}  {{ transaction.trxAmount | number_format(2,'.',' ') }}</h5>
    </div>
    <div class="p-2 mb-4">
        <h6 class="text-center mb-0 pb-0">
            {{ transaction.zrpCompany ? transaction.zrpCompany.cmpName|upper : '' }} {{ 'bo.ticket.company.thanks'|trans }}
        </h6>
    </div>

    {#    /** boutton pdf, jpg and email, index ticket detail **/#}
    <div class="kl-ticket-buttons">
        {{ include("@Admin/ZrpCustomerTicket/index_ticket_detail.html.twig") }}
        <a href="{{ path('customer_ticket_generate_pdf', {'id': transaction.id}) }}" target="_blank"
           class="btn btn-primary mr-2">
            {{ 'bo.ticket.download.pdf' | trans }}
            <i class="fas fa-file-pdf"></i>
        </a>
        <!-- Modal envoie mail -->
        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                data-target="#exampleModal{{ transaction.id }}">
            {{ 'bo.ticket.share'|trans }}
            <i class="fas fa-paper-plane"></i>
        </button>
        <!-- Modal download jpeg -->
        <button type="button" id="id-btn-Convert-html-to-jpeg" class="btn btn-outline-primary">
            {{ 'bo.ticket.download.jpeg'|trans }}
            <i class="fas fa-file-image"></i>
        </button>
        <div class="modal fade" id="exampleModal{{ transaction.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="id-form-send-mail-ticket-{{ transaction.id }}" method="post"
                      action="{{ path('customer_ticket_send_mail') }}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                {{ 'bo.ticket.modal.text'|trans }}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" value="{{ transaction.id }}" name="id"/>
                            <div class="form-group">
                                <label id="id-mail" class="float-left">{{ 'bo.ticket.field.mail'|trans }}</label>
                                <input required type="email" name="email"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary mb-3"
                                    data-dismiss="modal">
                                {{ 'bo.ticket.button.close'|trans }}
                            </button>
                            <button type="submit" class="btn btn-primary">
                                {{ 'bo.ticket.button.send'|trans }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>