<div id="id-content-page">
    <div class="text-white bg-primary p-2 mb-4"
         style="background: #548235; text-align: center ;color: #ffffff;padding: 1px">
        <h2 class="text-center text-uppercase mb-0 pb-0"
            style="text-transform:uppercase; font-weight: bold ; margin-bottom: -10px">
            <b>{{ transaction.zrpCompany ? transaction.zrpCompany.cmpName : '' }}</b>
        </h2>
        <p class="text-center mb-0 pb-0" style="margin-bottom: -10px;">
            <span>{{ transaction.zrpCompany ? transaction.zrpCompany.zrpUser.email : '' }}</span>
        </p>
        <p class="text-center mb-0 pb-0">
            <span>{{ transaction.zrpCompany ? transaction.zrpCompany.zrpUser.usrPhoneNumber : '' }}</span>
        </p>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <p>
                <b>{{ 'bo.transaction.customer.name'|trans }}</b> :
                <span>{{ transaction.zrpCustomer ? transaction.zrpCustomer.zrpUser ? transaction.zrpCustomer.zrpUser.usrLastname :'' }}</span>
            </p>
            <p>
                <b>{{ 'bo.transaction.date.heure.emission'|trans }}</b> :
                <span>{{ transaction.trxIssueDate ? transaction.trxIssueDate|date('d-m-Y') : '' }}</span>
            </p>
            {% if transaction.trxPostalCodeInvoiced %}
                <p>
                    <b>{{ 'bo.transaction.code.postal.facture'|trans }}</b> :
                    <span>{{ transaction.trxPostalCodeInvoiced | number_format(0,'.',' ') }}</span>
                </p>
            {% endif %}
            {% if transaction.trxPostalCodeBiller %}
                <p>
                    <b>{{ 'bo.transaction.cp.facturant'|trans }}</b> :
                    <span>{{ transaction.trxPostalCodeBiller | number_format(0,'.',' ') }}</span>
                </p>
            {% endif %}
            <p>
                <b>Détails commande: </b>
                <span>
          {% for json_detail in json_details %}
              <ul>
                  <li>Produit : {{ json_detail.full_product_name }}</li>
                  <li>Quantité : {{ json_detail.qty | number_format(0,'.',' ') }}</li>
                  <li>PU: {{ json_detail.price_unit | number_format(2,'.',' ') }}</li>
                  <li>Total: {{ json_detail.price_subtotal_incl | number_format(2,'.',' ') }}</li>
              </ul>
          {% endfor %}
        </span>
            </p>
            <p>
                <b>{{ 'bo.transaction.montant'|trans }}</b> :
                <span>{{ transaction.trxAmount | number_format(2,'.',' ') }}</span>
            </p>
            {% if transaction.zrpCityBiller %}
                <p>
                    <b>{{ 'bo.transaction.commune.facturant'|trans }}</b> :
                    <span>{{ transaction.zrpCityBiller ? transaction.zrpCityBiller.ctName : '' }}</span>
                </p>
            {% endif %}
            {% if  transaction.zrpCompanyActivity %}
                <p>
                    <b>{{ 'bo.transaction.activite.facturant'|trans }}</b> :
                    <span>{{ transaction.zrpCompanyActivity ? transaction.zrpCompanyActivity.cmpActName :'' }}</span>
                </p>
            {% endif %}
        </div>
    </div>
</div>