<div class="bg-white col-3 p-3 mx-auto kl-bx-ticket">
    <div class="text-white bg-primary p-2 mb-4">
        <h2 class="text-center text-uppercase mb-0 pb-0">
            {{ transaction.zrpCompany ? transaction.zrpCompany.cmpName : '' }}
        </h2>
    </div>
    <div class="row">
        <div class="col-12">
            {% if  transaction.zrpCompany %}
                <p class="text-center mb-0 pb-0">
                    <b>{{ transaction.zrpCompany.zrpCompanyType ? transaction.zrpCompany.zrpCompanyType.cmpTpName|upper }}</b>
                </p>
                <p class="text-center mb-0 pb-0">
                    <span>{{ transaction.zrpCompany.zrpUser ? transaction.zrpCompany.zrpUser.usrAddress ? transaction.zrpCompany.zrpUser.usrAddress : '' }}</span>
                </p>
                <span>
                    {{ transaction.trxPostalCodeBiller ?  transaction.trxPostalCodeBiller| number_format(0,'.',' ') }} {{ transaction.trxAddressBiller ?  transaction.trxAddressBiller|upper }}
                </span>
                <p class="text-center mb-0 pb-0">
                    <span>{{ transaction.zrpCompany ? transaction.zrpCompany.cmpSiren ? 'Siret : '~transaction.zrpCompany.cmpSiren : '' }}</span>
                </p>
                <p class="text-center mb-0 pb-0">
                    <span>{{ transaction.zrpCompany and transaction.zrpCompany.zrpUser ? 'Tel : '~transaction.zrpCompany.zrpUser.usrPhoneNumber : '' }}</span>
                </p>
            {% endif %}
        </div>
    </div>

    {% set transaction_details = transaction.trxDesc  ?  transaction.trxDesc|json_decode : [] %}
    {% if transaction_details|length %}
        <table style="width:100%">
            <tr>
                <th>{{ 'bo.ticket.table.number'|trans }}</th>
                <th>{{ 'bo.ticket.table.description'|trans }}</th>
                <th>{{ 'bo.ticket.table.unitary.price'|trans }}</th>
                <th>{{ 'bo.ticket.table.montant'|trans }}</th>
            </tr>
            {% set total_qty = 0 %}
            {% for json_detail in transaction_details %}
                {% set total_qty = total_qty + json_detail.qty %}
                <tr class="kl-product-item-dashboard">
                    <td>{{ json_detail.qty }}</td>
                    <td>{{ json_detail.full_product_name }}</td>
                    <td>{{ json_detail.price_unit }}</td>
                    <td>{{ json_detail.price_subtotal }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td colspan="3"><h4>{{ 'bo.ticket.total'|trans|upper }} ({{ total_qty }})</h4></td>
                <td><h4>{{ transaction.trxAmount }}</h4></td>
            </tr>
        </table>
    {% endif %}
    <div class="p-2 mb-4">
        <span>{{ transaction.trxIssueDate ? transaction.trxIssueDate|date("d/m/Y H:i:s") : '' }}</span>
        <p>{{ transaction.trxRef }}</p>
        <h6 class="text-center text-uppercase mb-0 pb-0">
            {{ 'bo.ticket.thanks.fidelity'|trans }}
        </h6>
    </div>
</div>