{% extends "@User/layout.html.twig" %}

{% block title %}{{ parent() }} {{ 'bo.security.user.login'|trans }} {% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="kl-authentification-log authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">
        <div class="ui-bg-overlay bg-dark opacity-25"></div>
        <div class="authentication-inner py-5">
            <!-- [ Logo ] Start -->
            <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                <div class="">
                    <div class="w-100 position-relative">
                        <img src="{{ asset('backoffice/img/short-logo.svg') }}"
                             alt="{{ 'bo.sidebar.title.project'|trans }}" class="img-fluid">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- [ Logo ] End -->
            <div class="card">
                <div class="p-0">
                    <h5 class="text-center p-3 mb-0 kl-bb-grey d-none">
                        {{ 'bo.login.your.account'|trans|upper }}
                    </h5>
                    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <!-- [ Form ] Start -->
                    <form role="form" action="{{ path('security_login') }}" method="post"
                          id="login-form" class="px-4 pt-2 pb-3">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        <div class="form-group">
                            <label class="form-label">{{ 'bo.user.field.email'|trans }}</label>
                            <input type="text" class="form-control" name="_username" value=""
                                   id="username" required>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label d-flex justify-content-between align-items-end">
                                <span>{{ 'bo.login.password' |trans }}</span>
                            </label>
                            <input type="password" class="form-control" name="_password" id="password" required>
                            <div class="clearfix"></div>
                        </div>
                        <div class="justify-content-between align-items-center m-0">
                            <div class="form-group">
                                <div class="kl-pass-lost">
                                    <a href="{{ path('security_resetting_password') }}">
                                        {{ 'bo.security.resetting.password'|trans }}
                                    </a>
                                </div>
                                <div class="kl-text-souvenir">
                                    <label class="custom-control custom-checkbox m-0 kl-custom-pl text-left">
                                        <input type="checkbox" class="custom-control-input" name="_remember_me" id="remember_me">
                                        <span class="custom-control-label">{{ 'bo.login.remember' | trans }}</span>
                                    </label>
                                    <label class="custom-control kl-connexion-log custom-checkbox m-0 kl-custom-pl text-left">
                                        <input type="checkbox" class="custom-control-input" name="_remember_me">
                                        <span class="custom-control-label">{{ 'bo.login.remember.auto' | trans }}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="kl-button-souvenir">
                            <button type="submit" class="btn btn-primary">{{ 'bo.login.your.account'|trans }}</button>
                            </div>
                        </div>
                    </form>
                    <!-- [ Form ] End -->
                </div>
            </div>
            <p class="text-center kl-creer-log">
                <a href="{{ path('security_user_register') }}">
                    {{ 'bo.login.create.account'|trans }}
                </a>
            </p>
        </div>
    </div>
{% endblock %}