{% extends "@User/layout.html.twig" %}

{% block title %}{{ parent() }} {{ 'bo.security.resetting.password'|trans }} {% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="kl-authentification-log kl-authentification-log-resetting authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">
        <div class="ui-bg-overlay bg-dark opacity-25"></div>
        <div class="authentication-inner py-5">
            <!-- [ Logo ] Start -->
            <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                <div class="">
                    <div class="w-100 position-relative">
                        <img src="{{ asset('backoffice/img/short-logo.svg') }}"
                             alt="{{ 'bo.sidebar.title.project'|trans }}" class="img-fluid">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- [ Logo ] End -->
            <div class="card">
                <div class="p-0">
                    <h5 class="text-center p-3 mb-0 kl-bb-white">
                        {{ 'bo.security.resetting.password'|trans }}
                    </h5>
                    <!-- [ Form ] Start -->
                    <form role="form" action="{{ path('security_resetting_password') }}" method="post"
                          id="login-form" class="px-4 pt-2 pb-3">
                        <div class="form-group">
                            <label class="form-label">{{ 'bo.user.field.email'|trans }}</label>
                            <input type="text" class="form-control" name="user_username" value=""
                                   id="username" required>
                            <div class="clearfix"></div>
                        </div>
                        <div class="justify-content-between align-items-center mt-5 text-center">
                            <button type="submit" class="btn btn-primary">
                                {{ 'resetting.password.email.forgotten.send'|trans }}
                            </button>
                        </div>
                    </form>
                    <!-- [ Form ] End -->
                </div>
            </div>
            <p class="text-center kl-creer-log">
                <a href="{{ path('security_login') }}">Se connecter</a>
            </p>
        </div>
    </div>
{% endblock %}