{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.client.final.modif.title'|trans }} {% endblock %}

{% set menu_client_final = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.client.final.index.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.client.final'|trans,
                'breadcrumb_root_name': 'bo.client.final.index.title'|trans,
                'breadcrumb_root_name_path': path('client_final_index'),
                'breadcrumb_action': 'bo.index.updating'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.client.final.edit.title.tab'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(edit_form) }}
                                {{ form_row(edit_form.zrpUser) }}
                                <div class="form-group row ">
                                    <label class="col-form-label col-sm-2 required"
                                           for="zrp_service_metiermanagerbundle_company_zrpCompanyActivity">{{ 'bo.client.final.field.city'|trans }}</label>
                                    <div class="col-sm-10">
                                        <div class="position-relative">
                                            <select
                                                    name="selection_ville"
                                                    class="custom-select kl-select-two kl-select-ville"
                                                    style="width: 100%"
                                                    id="ville" required>
                                                <option value="" selected="selected">
                                                    {{ 'bo.select2.placeholder.select'|trans }}
                                                </option>
                                                {% if user.zrpCity %}
                                                    <option value="{{ user.zrpCity.id }}"
                                                            selected>{{ user.zrpCity.ctName }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {{ form_row(edit_form.zrpCustomerType) }}
                                {{ form_row(edit_form.cstSiren) }}
                                <div class="form-group row ">
                                    <label class="col-form-label col-sm-2 required"
                                           for="name">{{ 'bo.user.field.lastname'|trans }}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" id="name" name="name" required="required"
                                               value="{{ user.usrLastname }}">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-form-label col-sm-2 required"
                                           for="lastname">{{ 'bo.user.field.firstname'|trans }}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" id="lastname" name="lastname"
                                               required="required" value="{{ user.usrFirstname }}">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-form-label col-sm-2 required"
                                           for="adress">{{ 'bo.user.field.address'|trans }}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" id="adress" name="adress"
                                               required="required" value="{{ user.usrAddress }}">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2" for="date_naissance"
                                           class="required">{{ 'bo.user.field.date.birth'|trans }}</label>
                                    <div class="col-sm-10 ">
                                        <input type="text" id="date_naissance" name="date_naissance" required="required"
                                               placeholder="{{ 'bo.user.field.date.birth'|trans }}"
                                               data-bv-regexp-regexp="^[0-9]{2}/[0-9]{2}/[0-9]{4}$" data-bv-regexp="true"
                                               data-bv-regexp-message="{{ 'bo.customer.date.validator'|trans }}"
                                               value="{{ user.usrDateBirth|date('d/m/Y') }}"
                                               class="form-control kl-date-time-picker">
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    <label class="col-form-label col-sm-2 required"
                                           for="phone">{{ 'bo.user.field.phone'|trans }}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" id="phone" name="phone"
                                               data-bv-regexp-regexp="^\+?[0-9 ]*$" data-bv-regexp="true"
                                               data-bv-regexp-message="{{ 'bo.customer.phone.validator'|trans }}"
                                               required="required" value="{{ user.usrPhoneNumber }}">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary">
                                            {{ 'bo.button.update'|trans }}
                                        </button>
                                        <a href="{{ path('client_final_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_city_ajax = "{{ path('client_final_city_list_ajax') }}";
    </script>
    <script type="text/javascript" src="{{ asset('backoffice/js/client_final/edit.js') }}"></script>
{% endblock %}