{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.client.final'|trans }} {% endblock %}

{% set menu_client_final = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.client.final.index.title'|trans,
                'breadcrumb_root_name': 'bo.client.final.index.title'|trans,
                'breadcrumb_root_name_path': path('client_final_index'),
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6 text-right">
                            </div>
                        </div>
                        <div class="table-responsive pb-4">
                            <table id="id-client-final-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr>
                                    <th>
                                        <button class="btn btn-success btn-sm btn-round kl-btn-customer-filter">
                                            {{ 'bo.datatable.filter'| trans }}
                                        </button>
                                        <button class="btn btn-default btn-sm btn-round kl-btn-customer-clear-filter">
                                            {{ 'bo.global.reset'| trans }}
                                        </button>
                                    </th>
                                    <th>
                                        <input type="text" class="kl-customer-firstname form-control"
                                               placeholder="{{ 'bo.client.final.field.firstname'|trans }}">
                                    </th>
                                    <th>
                                        <input type="text" class="kl-customer-lastname form-control"
                                               placeholder="{{ 'bo.client.final.field.lastname'|trans }}">
                                    </th>
                                    <th>
                                        <input type="text" class="kl-customer-address form-control"
                                               placeholder="{{ 'bo.client.final.field.address'|trans }}">
                                    </th>
                                    <th class="kl-select-city-width">
                                        <input type="text" class="form-control" id="id-filter-city" placeholder="{{ 'bo.client.final.city'|trans }}">
                                        <div  id="id-map-canvas"></div>
                                    </th>
                                    <th>
                                        <input type="text" class="kl-customer-date-of-birth form-control" readonly
                                               placeholder="{{ 'bo.client.final.field.date.of.birth'|trans }}">
                                    </th>
                                    <th>
                                        <input type="text" class="kl-customer-phone form-control"
                                               placeholder="{{ 'bo.client.final.field.phone'|trans }}">
                                    </th>
                                    <th>
                                        <input type="text" class="kl-customer-email form-control"
                                               placeholder="{{ 'bo.client.final.field.email'|trans }}">
                                    </th>
                                    {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
                                        <th>
                                            <input type="text" class="kl-postal-code form-control"
                                                   placeholder="{{ 'bo.client.final.field.postal.code'|trans }}">
                                        </th>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th class="no-sort">{{ 'bo.index.th.action'|trans }}</th>
                                    <th>{{ 'bo.client.final.field.firstname'|trans }}</th>
                                    <th>{{ 'bo.client.final.field.lastname'|trans }}</th>
                                    <th>{{ 'bo.client.final.field.address'|trans }}</th>
                                    <th>{{ 'bo.client.final.field.city'|trans }}</th>
                                    <th>{{ 'bo.client.final.field.date.of.birth'|trans }}</th>
                                    <th>{{ 'bo.client.final.field.phone'|trans }}</th>
                                    <th>{{ 'bo.client.final.field.email'|trans }}</th>
                                    {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
                                        <th>{{ 'bo.client.final.field.postal.code'|trans }}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_client_final_list_ajax = "{{ path('client_final_list_ajax') }}";
        var href_edit_default = "{{ path('client_final_edit', {id: 0}) }}";
        var href_fiche_default = "{{ path('client_final_fiche', {id: 0}) }}";
        var href_delete_default = "{{ path('client_final_delete', {id: 0}) }}";
        var url_city_list_ajax = "{{ path('company_list_ajax_city') }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var default_sorting = [[0, 'desc']];
        var user_id = "{{ app.user.id }}";
        var role_company_id = 0;
        {% if is_granted(constant('App\\Zerop\\Service\\MetierManagerBundle\\Utils\\RoleName::ID_ROLE_ENTREPRISE')) %}
            role_company_id = {{ constant('App\\Zerop\\Service\\MetierManagerBundle\\Utils\\RoleName::ID_ROLE_ENTREPRISE') }};
        {% endif %}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmwCw37HTccUqVj1GlzTP_0F2N_CsAPrM&libraries=places"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/client_final/list.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/client_final/map.client.final.js') }}"></script>
{% endblock %}
