{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}
{% set form_errors = form.vars.errors.form.getErrors(true) %}

{% block title %}{{ parent() }} {{ 'bo.expense.type.edit.title.tab'|trans }} {% endblock %}

{% set menu_expense_type = true %}
{% set menu_expense_type_create = true %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.expense.type.index.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.database'|trans,
                'breadcrumb_root_name': 'bo.sidebar.expense.type'|trans,
                'breadcrumb_root_name_path': path('expense_type_index'),
                'breadcrumb_action': 'bo.index.adding'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.expense.type.new.title.tab'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(form) }}
                                {% if form_errors|length %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form_errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ form_row(form.expTpName) }}
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary">
                                            {{ 'bo.button.save'|trans }}
                                        </button>
                                        <a href="{{ path('expense_type_index') }}" class="btn btn-secondary">
                                            {{ 'bo.global.cancel'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



