<div class="modal fade" id="id-modal-edit-ticket" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="id-edit-ticket-form-content" class="modal-content">
        </div>
    </div>
</div>