{% form_theme update_form 'form/custom_fields.html.twig' %}
{{ form_start(update_form) }}
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{ 'bo.transaction.edit.title'|trans }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div  class="modal-body">
            {{ form_row(update_form.trxLabel) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'bo.global.cancel'|trans }}</button>
            <button type="submit" class="btn btn-primary kl-save-ticket">{{ 'bo.global.validate'|trans }}</button>
        </div>
{{ form_end(update_form) }}