<div class="modal fade" id="id-dropdown-menu-filter-by">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="font-weight-light"> {{ 'bo.folder.filter.order.by'|trans }}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                {# hidden input for filter #}
                <input type="hidden" id="id-input-min-price" value="{{ min_max.min_montant ?  min_max.min_montant : 0 }}">
                <input type="hidden" id="id-input-max-price" value="{{ min_max.max_montant ? min_max.max_montant : 0 }}">
                <input type="hidden" id="id-input-min-postal-code" value="{{ min_max.min_postal_code ? min_max.min_postal_code : 0 }}">
                <input type="hidden" id="id-input-max-postal-code" value="{{ min_max.max_postal_code ? min_max.max_postal_code : 0 }}">
                <input type="hidden" id="id-input-num-caisse" value="">
                {# hidden input for filter #}
                <div class="form-group mb-4">
                    <select id="id-filter-num-caisse" class="form-control kl-select-cash-register">
                        <option value="">{{ 'bo.cash.register.num'|trans }}</option>
                    </select>
                </div>

                <div class="from-group mb-4">
                    <label>{{ 'bo.transaction.montant'|trans }}</label>
                    <input id="id-price-range" type="text" step="any" class="form-control" onkeypress="return isAmountKey(event)">
                    {# <strong id="id-indicateur-price-range-min" class="float-left small"></strong>
                    <strong id="id-indicateur-price-range-max" class="float-right small"></strong> #}
                </div>
                <div class="from-group mb-4">
                    <label>{{ 'bo.transaction.th.date'|trans }}</label>
                    <input type="text" id="id-date-range-filter" class="form-control">
                </div>
                <div class="from-group mb-5">
                    <label>{{ 'bo.transaction.cp.company'|trans }}</label>
                    <input id="id-postal-code-range" type="text" class="form-control" onkeypress="return isNumberKey(event)">
                    {# <strong id="id-indicateur-postal-code-range-min" class="float-left small"></strong>
                    <strong id="id-indicateur-postal-code-range-max" class="float-right small"></strong> #}
                </div>

                <button id="id-btn-apply-all-filter" data-dismiss="modal" class="btn btn-primary kl-validate-filter">{{ 'bo.global.apply'|trans }}</button>
                <button id="id-btn-reset-all-filter" type="button" class="btn btn-secondary kl-validate-filter">{{ 'bo.global.reset'|trans }}</button>
                <button type="button" class="btn btn btn-danger" data-dismiss="modal" aria-label="Close">{{'bo.ticket.button.close'|trans}}</button>
            </div>
        </div>
    </div>
</div>