{% if transactions|length > 0 %}
    <div id="accordion2" class="kl-acc-wrapper">
        {% for key, transaction in transactions %}
            <div class="card mb-2">
                <div class="card-header bg-white p-0">
                    <a class="d-flex justify-content-between text-dark p-3" data-toggle="collapse" aria-expanded="false"
                       href="#accordion{{ key }}-1">
                        {{ transaction.trxRef }}
                        <div class="collapse-icon"></div>
                    </a>
                </div>

                <div id="accordion{{ key }}-1" class="collapse" data-parent="#accordion2">
                    <div class="card-body py-0 text-center">
                        {{ include("@Admin/ZrpCustomerTicket/ticket_visuel.html.twig") }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        {{ 'bo.global.table.no.result'|trans }}
    </div>
{% endif %}