.kl-custom-pl{ padding-left: 26px;}
body{
    background: #000 !important;
}
a, a:hover{color:  #548235;}


.btn-primary{
    background :  #548235 !important;
}
.kl-bb-grey {
    color: #b8b8b8;
}
label.col-form-label.col-sm-2 {
    color: #b8b8b8;
}
label.custom-control.custom-checkbox.kl-custom-pl span.custom-control-label,
    #login-form label.form-label{
    color: #b8b8b8;
}

.kl-authentification-log .card {
    background-color: transparent;
}
.kl-authentification-log .form-control {
    background-color: #fff;
}
.kl-authentification-log .form-label {
    height: 37px;
    vertical-align: middle;
    float: left;
    line-height: 38px;
        color: #fff !important;
}
.kl-authentification-log .form-control {
    max-width: 70%;
    float: left;
    margin-left: 20px;
}
.kl-authentification-log .custom-control-label::before {
    background-color: #fff;
}
.kl-text-souvenir label{
	text-align: left;
}
.kl-pass-lost {
    float: left;
    width: 40%;
}
.kl-text-souvenir {
    float: left;
    width: 60%;
    text-align: center;
}
.kl-button-souvenir button {
    margin-top: 50px;
}
.kl-button-souvenir {
    text-align: center;
}
.kl-pass-lost a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
    font-size: 12px;
}
.kl-authentification-log label{
    text-align: right;
    min-width: 80px;
}
.kl-creer-log a{
	color: #fff;
    text-decoration: underline;
}
.kl-text-souvenir span.custom-control-label{
	color: #fff !important;
}
.kl-authentification-log-resetting .form-control {
    max-width: 80%;
}
.kl-authentification-log-resetting label {
    text-align: right;
    min-width: 35px;
}
.kl-bb-white, .kl-authentification-log-register .custom-control-label{
	color: #fff !important;
}
.kl-authentification-log-register .form-control {
    max-width: 100%;
}
.kl-authentification-log-register label {
    min-width: 115px;
    color: #fff;
    text-align: left;
}
.kl-authentification-log-register .col-sm-10{
    max-width: 355px;
}
.kl-authentification-log-register .form-group label{
	color: #fff;
}
.kl-authentification-log-register a.captcha_reload {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    text-decoration: underline;
        margin: 15px 0;
}
.kl-authentification-log-register .captcha_image{
    margin-left: 15px;
    min-width: 327px;
}
.kl-authentification-log-register .col-md-10{
	margin: 0 auto;
}
.kl-authentification-log-register .part-two label {
    min-width: 145px;
}
.kl-authentification-log-register:last-child  .col-sm-10{
    max-width: 100%;
}
#zrp_userbundle_user_captcha{
	width: 183px;
}
.kl-authentification-log .form-control {
    padding-left: 8px !important;
}
.kl-authentification-log .btn-primary {
    border: 1px solid #fff;
        padding: 10px 50px;
    border-radius: 6px;
}
.kl-authentification-log .card {
    box-shadow: none !important;
}
.kl-authentification-log small.help-block {
    color: red;
}
.kl-authentification-log .card-header, .kl-authentification-log .card-footer, .kl-authentification-log .card hr {
    border-color: transparent;
}
.kl-authentification-log img{
	width:650px;
    max-height: 250px;
}
.app-brand-logo img, .app-brand-logo svg {
    width: 22px!important;
    height: 28px!important;
    margin: 0 5px!important;
}
.kl-connexion-log{
    margin-top: 10px !important;
}
@media screen and (max-width:767px){
	.kl-authentification-log-register .captcha_image {
	    min-width: auto;
	    width: auto;
	    max-width: 220px !important;
	}
	#zrp_userbundle_user_captcha {
	    width: 100%;
	    float: left;
	}
	.kl-authentification-log .form-control {
	    max-width: 100%;
	}
	.kl-text-souvenir span.custom-control-label {
	    font-size: 11px;
	}
	.kl-pass-lost a {
        font-size: 9px;
	}
	.kl-authentification-log .form-control {
	    margin-left: 0px;
	}
	.kl-authentification-log .form-label {
	    text-align: left;
	}
}
@media screen and (max-width:575px) {	
	.kl-authentification-log-register .form-control {
	    max-width: 100%;
	}
    .kl-authentification-log img {
        width: 525px;
        max-height: 225px;
    }
    @media screen and (max-width:475px) {
        .kl-authentification-log img {
            width: 425px;
            max-height: 175px;
        }
    }
    @media screen and (max-width:425px) {
        .kl-authentification-log img {
            width: 375px;
            max-height: 155px;
        }
    }
    @media screen and (max-width:375px) {
        .kl-authentification-log img {
            width: 325px;
            max-height: 135px;
        }
    }
    @media screen and (max-width:320px) {
        .kl-authentification-log img {
            width: 275px;
            max-height: 115px;
        }
    }
}