#smartwizard .nav-tabs{ border:none;}
.kl-nav-quizz{ margin-bottom:35px;}
.kl-nav-quizz li{ margin-right:25px;}
.kl-nav-quizz li a{ background:#f7fafc; color:#212529; box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  font-weight: 600; line-height: 1.5; display: inline-block; transition:0.5s;}
.kl-nav-quizz li.active a{ background:#5e72e4; color:#fff; box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  font-weight: 600; line-height: 1.5; display: inline-block; transition:0.5s;}
.kl-nav-quizz li a:hover{ transform: translateY(-1px); color:#fff; background:#5e72e4; color:#fff;}
.sw-btn-prev{ background:#172b4d; border:1px solid #172b4d; color:#fff; box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  font-weight: 600; line-height: 1.5; display: inline-block; transition:0.5s;}
.sw-btn-next{ background:#f7fafc; color:#212529; box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  font-weight: 600; line-height: 1.5; display: inline-block; transition:0.5s;}
/**/
.relative{ position:relative;}
.absolute{ position:absolute;}
.kl-checkbox-custom-box label{ cursor: pointer;}
.kl-checkbox-custom-box{ padding-top:41px; padding-left:43px;}
.kl-checkbox-custom-box input{ opacity: 0;}
.kl-add-new-element, .kl-remove-new-element{ top: 32px;  right: -93px;}
/*.kl-remove-new-element{ top:10px; right:-75px;}*/
.kl-add-new-skill-and-note, .kl-remove-new-skill-and-note{top: 25px; right: 75px;}
/*.kl-remove-new-skill-and-note{ top:43px; right:0px;}*/
.kl-bloc-answer-form i::before, .kl-add-new-question i::before, .kl-remove-new-question i::before,
.kl-add-new-skill-and-note i::before, .kl-remove-new-skill-and-note i::before{ font-size:15px;}
.kl-bloc-answer-form{ margin-bottom:15px;}
.kl-remove-new-element, .kl-remove-new-element:hover, .kl-remove-new-question{color: #fff;}
.kl-remove-new-question:hover, kl-remove-new-skill-and-note:hover, .kl-remove-new-skill-and-note{ color:#fff;}
.kl-note-input{ width:75px;}
.kl-number-input{ width:125px;}
.kl-question-form-bloc .col-md-4, .kl-question-form-bloc .col-md-12{ margin-bottom:15px;}
.kl-add-new-question, .kl-remove-new-question{ right:75px; bottom:46px;}
/*.kl-remove-new-question{ right:25px; bottom:25px;}*/
.kl-append-form-question{ border-top:1px solid rgba(0, 0, 0, .05);}
.kl-trait-form .col-md-4, .kl-trait-form .col-md-12{ margin-bottom:15px;}
.dashboardcode-bsmultiselect ul{ box-shadow: inherit !important; border-color:#dee2e6; padding-top:5px; padding-bottom:5px;}
.kl-skill-bloc-assignment span{ left:98px; top:42px;}
.kl-list-answers{ margin-top:25px;}
.kl-list-answers .col-md-8{ padding-top: 10px;}
.kl-duration.form-control{ height:auto; width:100%; padding:0px; border:none;}
#service_quizbundle_quiz_duration_hour, #service_quizbundle_quiz_duration_minute{ display:inline-block !important; width:75px;}
#service_quizbundle_quiz_duration_minute{ margin-left:10px;}
#service_quizbundle_quiz_duration_hour{ margin-right:10px;}
.form-group{ position:relative;}
.form-group ul.nav-tabs.nav{ position:absolute; right:0px; top:0px; z-index: 999; border:none;}
.form-group ul.nav-tabs.nav li a{ font-size: 13px;}
.form-group ul.nav-tabs.nav li a.active, .kl-form-quiz-section .form-group ul.nav-tabs.nav li a:hover{ color:#5e72e4;}
small.help-block{ color:#ff0000;}
.custom-control.custom-checkbox{  display: inline-block;  margin-left: .6rem;  }
.form-group ul.nav-tabs.nav.kl-nav-lang-trait{ position:static; margin-bottom:25px;}
.kl-remove-new-question.kl-remove-new-question-edit{bottom: 27px; margin: 0;}
.kl-add-new-question.kl-add-new-question-edit{bottom:95px;}
.kl-remove-new-skill-and-note{top:25px; right: 0;}
.kl-remove-new-skill{  top: 25px;  right: 13px;  }
.kl-add-new-skill{  top: 25px;  right: 75px;  }
.kl-remove-trait {  bottom: 24px;  left: 25px;  }
.kl-outer-trait-form {  border: 1px solid #eaebf1;  border-radius: 5px;  margin: 18px;  background: #fdfdff;  padding-bottom: 14px;  }
.kl-append-skill{  margin-bottom: 21px;  }
.kl-note-val .form-group, .kl-note-val .kl-note-value-span{ display:inline-block;}
.error-message {color: red;}
/*ul.pagination .previous a, ul.pagination .next a {margin: -3px 0px !important;}*/
.alert.alert-success.alert-dismissible{text-align:center}
.dataTables_wrapper .btn-sm {margin: 0 10px 0 0;}
.sidenav-item.active > .sidenav-menu {
  display: flex !important;
}
.sidenav-item.is-visited > .sidenav-menu {
  display: none !important;
}
.sidenav-item.active  > .sidenav-toggle::after {
  transform: translateY(-50%) rotate(-45deg) !important;
}
.sidenav-item.is-visited   > .sidenav-toggle::after {
  transform: translateY(-50%) rotate(45deg) !important;
}
form select.select2-hidden-accessible{
    width: 100% !important;
    height: calc(2.25rem + 2px) !important;
}
.kl-loading-quantity {
    position: absolute;
    z-index: 10;
    display: none;
}
.default-style .datepicker-dropdown {
    z-index: 9999 !important;
}
#hks_userbundle_user_usrImgUrl{
    padding-left: 12px;
}
.sidenav.bg-white .sidenav-link.active, .sidenav.bg-white .sidenav-horizontal-prev.active,
.sidenav.bg-white .sidenav-horizontal-next.active {
    color: #548235 !important;
}
.sidenav.sidenav-vertical .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
    background: #f0f4f5 !important;
}
.text-left{text-align:left !important;}
.kl-w-150{width:150px !important;}
/*.kl-fournisseur-list-action .kl-change-status:nth-child(1){*/
    /*background: #55a3f4;*/
    /*box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.03);*/
    /*color: #fff;*/
/*}*/
/*.kl-fournisseur-list-action .kl-change-status:nth-child(2){*/
    /*background: #FF4961;*/
    /*box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.03);*/
    /*color: #fff;*/
/*}*/
/*.kl-fournisseur-list-action .kl-change-status:nth-child(3){*/
    /*background: #62d493;*/
    /*box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.03);*/
    /*color: #fff;*/
/*}*/
/*.kl-fournisseur-list-action .kl-change-status:hover{*/
    /*box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.15), 0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 0px rgba(0, 0, 0, 0.06);*/
/*}*/
/*.kl-fournisseur-list-action .kl-change-status{*/
    /*padding: 5px 15px;*/
    /*margin: 5px;*/
/*}*/
.kl-notification span {
    background: #548235;
    display: block;
    font-size: 9px !important;
    line-height: 17px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 18px;
    padding: 2px 8px;
    z-index: 99;
}
.kl-notification {
    position: relative;
    margin-right: 22px;
}
#id-list-fournisseur-bon .dropdown-menu.dropdown-menu-right{
    left: -150px !important;
}
div#ui-builder {
    display: none;
}
.kl-remove-bloc-package, .kl-add-bloc-package, .kl-remove-pkg-produit-fini{
    border-radius: 0 !important;
    font-size: 26px;
    font-weight: 400;
    width: 38px;
    line-height: normal;
    padding: 0;
    height: 38px
}
/*#layout-sidenav .sidenav-item.is-visited > .sidenav-menu {*/
    /*display: block !important;*/
/*}*/

/*#layout-sidenav .sidenav-item.is-visited > .sidenav-menu {*/
    /*display: block !important;*/
/*}*/
#layout-sidenav .sidenav-item.active > .sidenav-menu{
    display: none !important;
}
#layout-sidenav .sidenav-item.active.open > .sidenav-menu{
    display: block !important;
}
.sidenav.sidenav-vertical.bg-white .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
    background: #f0f4f5;
}
.sidenav.bg-white .sidenav-link.active, .sidenav.bg-white .sidenav-horizontal-prev.active, .sidenav.bg-white .sidenav-horizontal-next.active {
    background: #f7f7f7;
}
.kl-label-image {
    width: 120px;
    height: 120px;
    border: solid 1px;
    position: relative;
}
.kl-label-image label {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#id-form-new-project ::-webkit-input-placeholder {
    color: #b9babc;
    font-size: 12px;
}
#id-form-new-project :-moz-placeholder {
    color: #b9babc;
    font-size: 12px;
}
#id-form-new-project ::-moz-placeholder {
    color: #b9babc;
    font-size: 12px;
}
#id-form-new-project :-ms-input-placeholder {
    color: #b9babc;
    font-size: 12px;
}

/* Placeholder */
.kl-form-required ~ label:not(.error):not(.file-ok) {
    color: #b9babc;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: auto;
}
.kl-form-required ~ label:not(.error):not(.file-ok):not(.kl-label-image-product):after, .kl-form-required ~ label.kl-label-image-product.kl-first-element:not(.error):not(.file-ok):after {
    content:' *';
    color: red;
}

/* show the placeholder when input has no content (no content = invalid) */
.kl-form-required.kl-invalid ~ label:not(.error):not(.file-ok) {
    display: inline-block;
}
/* hide the placeholder when input has some text typed in */
.kl-form-required.kl-valid ~ label:not(.error):not(.file-ok):not(.kl-first-element) {
    display: none;
}

.kl-categorie-content .form-group:first-child .kl-delete-categorie, .kl-product-content .form-group:first-child .kl-delete-product {
    display: none;
}

span.validate-form-error {
    color: #ff0700;
}

input[type="file"] {
    outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f0f4f5;
    color: #548235;
}


.wrap-custom-file label.col-form-label:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.kl-media-viewer-container {
    max-width: 205px;
    margin-right: 20px;
    max-height: 150px;
    overflow: hidden;
}
.kl-media-viewer-container video {
    height: 100% !important;
    object-fit: fill;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container {
    padding: 0 !important;
}
.jFiler-item .jFiler-item-container .jFiler-item-thumb img {
    width: 100%;
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets {
    color: red;
    position: absolute;
    bottom: 11px;
    right: 11px;
}
.kl-media-viewer-container .btn {
    background-color: transparent;
}
.kl-media-viewer-container .kl-remove-media .fa-trash{
    color: red;
}
.kl-media-viewer-container .btn {
    top: 84% !important;
    left: 88% !important;
}
.kl-media-viewer-container .btn {
    background-color: #fff !important;
    padding: 3px 5px 1px !important;
}
.kl-media-viewer-container .btn:hover .fa-trash{
    color: #000;
}
.jFiler-item .jFiler-item-container .jFiler-item-thumb img {
    object-fit: cover;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb {
    width: 100% !important;
}
.jFiler-items-grid .jFiler-item {
    float: left !important;
    margin: 0 auto !important;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets {
    color: red !important;
    z-index: 99999;
}
.jFiler-items-grid .jFiler-item-trash-action:hover {
    color: #000 !important;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb-overlay {
    background: rgb(0 0 0 / 80%) !important;
}

.kl-toggle-password{
    top: 30%;
    right: 15px;
    cursor: pointer;
    position: absolute;
}
.kl-pr-25{
    padding-right: 25px;
}

.custom-control-inline.kl-template-container.site-type-2 {
    min-width: 232px;
}
.custom-control.custom-radio {
    padding-left: 30px;
}
#id-production .nav-tabs .nav-item {
    margin: 0px 2px !important;
}
.kl-bread-dahsboard .breadcrumb {
    display: none;
}
.kl-media-viewer-container {
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}
.kl-media-viewer-container:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.z-index-up {
    z-index: 1;
    position: absolute;
    width: 105%;
    height: 113%;
    background: rgb(147 147 147 / 10%);
    top: -5px;
    left: -37px;
}
.z-index-down {
    z-index: 9;
}
#id-form-new-project .form-group.row {
    z-index: 2;
}
.kl-delete-uniforms {
    border-radius: 3px !important;
    padding: 0 10px;
    height: 28px;
    margin-top: 9px;
}

.kl-bg-gray::after {
    content: "";
    background: rgb(147 147 147 / 10%);
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}
.kl-bg-gray > div{
    z-index: 500;
}
.kl-bg-gray{
    pointer-events: none;
}
.kl-form-section{
    padding: 32px;
    margin-bottom: 20px;
}

#id-list-project td img {
    height: 61px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.kl-show-rib {
    padding: 6px 15px;
    display: inline-table;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.kl-remove-product-photo-ajax,.kl-remove-categorie-photo-ajax{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.kl-remove-product-photo-ajax i.fa-times,.kl-remove-categorie-photo-ajax i.fa-times{
    position: absolute;
    right: 10px;
    top: 5px;
}
.gallery-thumbnail .img-thumbnail img {
    height: 160px;
    object-fit: cover;
    width: 100%;
    object-position: center;
}
.kl-media-viewer-container img {
    width: 100% !important;
    object-fit: cover !important;
    height: 100% !important;
}
.kl-media-viewer-container {
    margin-bottom: 20px;
}
.kl-bg-gray .custom-control-label::before {
    pointer-events: none !important;
}
.kl-zerop-layout .btn-success {
    text-transform: none;
}
.kl-date-bars {
    display: flex;
    padding-left: 1.45rem;
    padding-right: 1.45rem;
    font-size: 10px;
    margin-top: -12px;
}
.kl-date-rightbars {
    margin-left: auto;
}
a.sidenav-link.active {
    color: #548235 !important;
}
.breadcrumb-item, .breadcrumb-item a {
    color: #fff !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #fff !important;
    content:">";
}
.kl-select-city-width {min-width: 200px;}
.kl-zerop-layout .kl-ticket-buttons .btn-primary {margin: 0 0 12px;}
.kl-zerop-layout .kl-ticket-buttons button.btn.btn-outline-primary {margin: 0 5px 12px 0;}

input#id-input-search{
    font-size: 16px;
}
/* .pace-done .kl-zerop-layout .form-control:focus, 
.pace-done .kl-zerop-layout .custom-select:focus {
    border-bottom-color: transparent;
    box-shadow: 0 -1px 0 0 transparent inset;
} */
.kl-zerop-layout .collapse-icon::after {
    border-bottom: 0.0625rem solid #000;
    border-left: 0.0625rem solid #000;
}
.kl-zerop-layout .form-control:focus{
    border-color: transparent !important;
}
#id-customer-transaction-list  .kl-acc-wrapper .card-header a {
    background: #eaeaea;
}
.kl-zerop-layout #id-customer-transaction-list .kl-acc-wrapper .card-header a:hover {
    background: #548235 !important;
}
.kl-button-edit-folder .icon-edit:before, .kl-button-edit-folder .icon-trash-2:before {
    color: #fff;
    font-size: 17px;
}
/* .kl-zerop-layout [aria-expanded="false"] .collapse-icon::after {
    transform: rotate(315deg) !important;
} */

/* .kl-zerop-layout [aria-expanded="true"] .collapse-icon::after, .kl-zerop-layout .collapsed .collapse-icon::after,
#id-customer-transaction-list .kl-acc-wrapper .card-header a:focus .collapse-icon::after {
    transform: rotate(135deg);
} */
/* .kl-zerop-layout [aria-expanded="true"] .collapse-icon::after {
    transform: rotate(315deg);
} */

.kl-check-ticket-info a {color: #212529;}

.kl-check-ticket-info a:hover { color: #548235;}

.kl-check-ticket-info a i:hover { color: #548235;}

.kl-zerop-layout .kl-folder-list li .kl-folder-tag {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}

.kl-authentication-contact{
    max-width: 588px;
    margin: 0 auto;
}
.kl-authentication-contact .form-control {
    background-color: #fff;
    padding-left: 8px !important;
}
.kl-authentication-contact .form-label {
   height: 37px;
    vertical-align: middle;
    float: left;
    line-height: 38px;
    color: #fff !important;
}
.kl-authentication-contact label {
    text-align: right;
    min-width: 133px;
}
.kl-authentication-contact .form-control {
    max-width: 70%;
    float: left;
    margin-left: 20px;
    border: none;
}
.kl-authentication-contact .form-group {
    min-width: 520px;
}
.kl-authentication-contact .kl-button-souvenir {
    text-align: right;
    margin-top: 30px;
    margin-right: 5px;
}
.kl-authentication-contact .btn-primary {
    border: 1px solid #fff;
    padding: 10px 50px;
}
.kl-message-contact span{
        width: 125px;
}
.kl-text-contact{
    color: #fff;
    text-decoration: underline;
}
.kl-contact-title h2 {
    display: block;
    width: 100%;
    color: #548235;
    font-size: 22px;
    text-align: center;
}
.kl-remove-elt {
    margin-left: 7px;
}
.kl-authentication-contact small.help-block {
    position: absolute;
    float: right;
    margin: -3px auto 51px;
    padding-bottom: 8px;
    right: 50%;
}
.kl-qr-client img{
    max-width: 55px;
    margin-bottom: 11px;
    margin-top: -5px;
    margin-right: 2px;
}
.kl-accordion-dashboards {
    margin-top: -30px;
}
.kl-search-dashboards{
    position: relative;
    z-index: 99999;
}
.kl-accordion-dashboards .card {
    margin-bottom: 30px !important;
}
.kl-accordion-dashboards .card:first-child .kl-qr-client {
    min-height: 70px;
    width: 100%;
}
.kl-accordion-dashboards .card-header{
    position: relative;
}
.kl-accordion-dashboards .card-header.bg-white.p-0 {
    background: transparent !important;
}
.kl-notShow-acc a.d-flex.justify-content-between.text-dark.p-3.kl-link-acc {
    margin-top: 50px;
}
.kl-notShow-acc a.d-flex.justify-content-between.text-dark.p-3.kl-link-acc.collapsed {
    margin-top: 0;
}
.kl-accordion-dashboards .card.kl-notShow-acc:first-child .kl-link-acc {
    margin-top: 0 !important;
}

.kl-accordion-dashboards .card .kl-qr-client {
    top: -15px;
    z-index: 1;
    position: absolute;
}
.kl-accordion-dashboards .card.kl-notShow-acc:first-child .kl-qr-client{
        top: -68px;
}
.kl-accordion-dashboards .card-body.py-0.text-center {
    background: #000 !important;
    position: relative;
    z-index: 9;
}
.kl-controls-filter button {
    margin-top: -2px;
}
.kl-input-tickets{
    position:absolute;
    left: 300px;
    top: 10px;
}
.kl-input-tickets input {
    text-align: left !important;
}
.kl-datetime-picker .timepicker.col-md-6 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    margin: 0 auto;
}
.kl-width-cent{
    width:150px;
}
span.kl-span-text-date {
    margin: 6px 0 -8px !important;
    display: block;
}
.kl-select-scroll-two .select2-results__options {
    height: 142px;
    overflow: scroll;
}
@media screen and (min-width:768px) and (max-width:1199px){
    .bg-white.text-white .ion.ion-ios-card.display-4.text-success:before {
        font-size: 28px;
    }
    .bg-white.text-white .ion.ion-ios-card.display-4.text-success,  .bg-white.text-white .ion.ion-md-home.display-4.text-danger {
        max-width: 27px;
        margin-right: -18px;
    }
     .bg-white.text-white .text-success{        
        font-size: 11px;
    }
    .kl-bx-head-filter .card-header-pills {
        min-width: 158px;
    }
   .kl-bx-head-filter .nav-pills .nav-link, .nav-tabs .nav-link {
        font-size: 11px;
        padding: 6px !important;
    }
   .kl-controls-filter .btn-outline-primary {
        font-size: 11px;
        padding: 8px 6px;
    }

}

.layout-sidenav.sidenav.sidenav-vertical.logo-dark .app-brand-logo img {
    display: block;
    width: 129px;
    height: 35px;
}

@media screen and (max-width:991px){
    .layout-navbar.navbar.navbar-expand-lg .navbar-brand .app-brand-logo img {
        width: 22px;
        height: 28px;
        margin: 0 5px;
    }
}
@media screen and (max-width:767px){
    .kl-authentication-contact .form-control {
        max-width: 100%;
    }
    .kl-authentication-contact .form-label {
        text-align: left;
    }
     .kl-authentication-contact .form-control {
        margin-left: 0px;
    }
    .kl-authentication-contact .form-group {
        min-width: auto;
    }
    .kl-authentication-contact small.help-block {
        margin: 2px auto 51px;
    }
    .kl-qr-client img {
        max-width: 44px;
        margin-top: 9px;
    }
    .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter {
        display: block;
    }
    .kl-bx-head-filter #id-daterange-filter {
        width: 166px !important;
    }
    .kl-bx-head-filter .card-header-pills {
        margin-bottom: 20px;
    }
    .default-style .daterangepicker {
        min-width: 270px;
        margin-left: -11px;
    }
}

.bootstrap-datetimepicker-widget table th.next::after{
    overflow: visible !important;
    clip: unset !important;
    border-width: 0 1px 1px 0 !important;
    margin-left: -.25rem !important;
    content: "" !important;
    position: absolute !important;
    display: block !important;
    width: .5rem !important;
    height: .5rem !important;
    border-style: solid !important;
    border-radius: 0 !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    -webkit-transform-origin: left !important;
    transform-origin: left !important;
}

.bootstrap-datetimepicker-widget table th.prev::after{
    overflow: visible !important;
    clip: unset !important;
    border-width: 1px 0 0 1px !important;
    content: "" !important;
    position: absolute !important;
    display: block !important;
    width: .5rem !important;
    height: .5rem !important;
    border-style: solid !important;
    border-radius: 0 !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    -webkit-transform-origin: left !important;
    transform-origin: left !important;
}
.bootstrap-datetimepicker-widget table th.next:hover, .bootstrap-datetimepicker-widget table th.prev:hover{
    background-color: transparent !important;
}