.kl-zerop-layout .sidenav.logo-dark .app-brand, .kl-zerop-layout .sidenav.bg-dark, .kl-zerop-layout .layout-content, .kl-zerop-layout body {
  background: #000 !important; }
.kl-zerop-layout .navbar.bg-dark {
  background-color: #000 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important; }
.kl-zerop-layout .sidenav.sidenav-vertical .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background: transparent !important;
  color: #548235 !important; }
.kl-zerop-layout .kl-bread-dahsboard h4 {
  color: #fff; }
.kl-zerop-layout .btn-success {
  background: #548235 !important; }
.kl-zerop-layout .table-responsive > .table, .kl-zerop-layout .table-responsive {
  background-color: #ebebeb !important; }
.kl-zerop-layout .table-bordered th, .kl-zerop-layout .table-bordered td, .kl-zerop-layout .table thead th {
  border: none !important;
  text-align: center; }
.kl-zerop-layout .table-striped tbody tr:nth-of-type(odd), .kl-zerop-layout .card {
  background-color: transparent; }
.kl-zerop-layout .table-striped tbody tr:nth-of-type(even), .kl-zerop-layout .table-striped thead tr {
  background-color: #fff; }
.kl-zerop-layout .dataTables_length label {
  padding: 10px 10px 0; }
.kl-zerop-layout .dataTables_filter label {
  padding: 10px 10px 0; }
.kl-zerop-layout div.dataTables_wrapper div.dataTables_info {
  color: #a3a4a6;
  padding: 10px 10px 0; }
.kl-zerop-layout .dataTables_paginate {
  padding: 10px 10px 0; }
.kl-zerop-layout .page-item.active .page-link, .kl-zerop-layout .page-item.active .page-link:hover, .kl-zerop-layout .page-item.active .page-link:focus, .kl-zerop-layout .pagination li.active > a:not(.page-link), .kl-zerop-layout .pagination li.active > a:not(.page-link):hover, .kl-zerop-layout .pagination li.active > a:not(.page-link):focus {
  border-color: #548235 !important;
  background-color: #548235 !important; }
.kl-zerop-layout td a i, .kl-zerop-layout .card .card-header h5 {
  color: #548235 !important; }
.kl-zerop-layout .btn-primary {
  background: #548235 !important; }
@media (max-width: 575.98px) {
  .kl-zerop-layout label.col-form-label {
    margin-bottom: 10px !important; } }
.kl-zerop-layout .kl-underlined-btn {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff !important;
  padding: 0;
  color: #fff; }
  .kl-zerop-layout .kl-underlined-btn:hover, .kl-zerop-layout .kl-underlined-btn:focus {
    color: #548235;
    border: none;
    border-bottom: 1px solid #fff !important;
    outline: none;
    box-shadow: none; }
.kl-zerop-layout .kl-acc-wrapper .card-header:hover {
  background: #548235 !important; }
  .kl-zerop-layout .kl-acc-wrapper .card-header:hover a {
    color: #fff !important; }
.kl-zerop-layout .kl-folder-list {
  padding-left: 0; }
  @media (max-width: 767.98px) {
    .kl-zerop-layout .kl-folder-list {
      padding: 0 10px; } }
  .kl-zerop-layout .kl-folder-list li {
    margin-bottom: 35px; }
    .kl-zerop-layout .kl-folder-list li .kl-folder-tag {
      background: #548235;
      padding: 12px;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      border: 3px solid #fff;
      border-radius: 10px; }
      @media (max-width: 575.98px) {
        .kl-zerop-layout .kl-folder-list li .kl-folder-tag {
          font-size: 12px;
          padding: 6px; } }
    .kl-zerop-layout .kl-folder-list li p {
      font-size: 14px;
      color: #fff;
      margin-bottom: 0; }
  @media (max-width: 480px) {
    .kl-zerop-layout .kl-folder-list div[class*="col"] {
      padding: 0 5px; }
      .kl-zerop-layout .kl-folder-list div[class*="col"] span.kl-folder-tag {
        padding: 10px;
        font-size: 12px; }
      .kl-zerop-layout .kl-folder-list div[class*="col"] p {
        font-size: 11px; } }
.kl-zerop-layout .layout-container.kl-body-ticket-index {
  padding-left: 0 !important; }
.kl-zerop-layout .kl-product-item {
  border-bottom: 1px dashed #000;
  float: left;
  width: 100%;
  padding: 6px 0 5px; }
  .kl-zerop-layout .kl-product-item span {
    float: left; }
  .kl-zerop-layout .kl-product-item b {
    float: right; }
.kl-zerop-layout .kl-ticket-total {
  float: none;
  width: 100%;
  text-align: right;
  clear: both;
  padding-top: 18px; }
.kl-zerop-layout .kl-bx-ticket {
  max-width: 300px; }
.kl-zerop-layout input#id-input-search {
  max-width: 132px;
  font-size: 14px;
  border-bottom: 1px solid #fff; }
  .kl-zerop-layout input#id-input-search::placeholder {
    color: #fff; }
  .kl-zerop-layout input#id-input-search:focus {
    max-width: 100%; }
.kl-zerop-layout .kl-toggle-filter {
  position: static; }
  .kl-zerop-layout .kl-toggle-filter > button:focus {
    border: none; }
  .kl-zerop-layout .kl-toggle-filter .dropdown-menu.show {
    left: 12px !important;
    right: 12px;
    padding: 20px;
    background: #ebebeb; }
    .kl-zerop-layout .kl-toggle-filter .dropdown-menu.show label {
      font-weight: 700; }
.kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }
  .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter input.kl-input-search {
    min-width: 175px; }
    .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter input.kl-input-search:focus {
      border-color: #548235 !important; }
  .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter .nav-link {
    padding: 0.5rem 1rem; }
  @media (max-width: 1199.98px) {
    .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter {
      justify-content: flex-start;
      flex-wrap: wrap; }
      .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter > * {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 0 0 15px; }
      .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter > input {
        order: 0; }
      .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter > div {
        order: 1; }
      .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter > label {
        order: 2; }
      .kl-zerop-layout .kl-statistic-filter .kl-bx-head-filter > ul {
        order: 3; } }
.kl-zerop-layout .kl-statistic-filter .tab-content {
  margin-top: 29px; }
.kl-zerop-layout .kl-tabs-transaction a.nav-link {
  padding: 5px 15px; }
@media (max-width: 575.98px) {
  .kl-zerop-layout .kl-ftr-btn-group {
    text-align: center; }
    .kl-zerop-layout .kl-ftr-btn-group .btn {
      margin-bottom: 10px; } }
@media (max-width: 425px) {
  .kl-zerop-layout .kl-validate-filter {
    margin: 3px 0 !important; } }

.kl-error-page-wrapper {
  background: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.kl-error-content {
  text-align: center; }
  .kl-error-content h1 {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px; }
    .kl-error-content h1 span {
      color: #548235;
      font-size: 50px;
      display: block;
      font-weight: 900;
      text-transform: uppercase; }
      .kl-error-content h1 span::after {
        content: "";
        background: #548235;
        height: 5px;
        width: 50px;
        border-radius: 50px;
        display: block;
        margin: 25px auto; }

.kl-datetime-picker .kl-open-dtm, .kl-date-picker-wrapper .kl-open-dtm {
  position: absolute;
  right: 14px;
  bottom: 5px;
  z-index: 100;
  background: #ebebeb;
  font-size: 16px;
  height: 27px;
  width: 27px;
  line-height: 29px;
  text-align: center;
  display: block;
  color: #548235; }
  .kl-datetime-picker .kl-open-dtm:hover, .kl-date-picker-wrapper .kl-open-dtm:hover {
    background: #548235;
    color: #fff; }

/*# sourceMappingURL=general.css.map */
