/* Container needed to position the button. Adjust the width as needed */
.kl-media-viewer-container {
    position: relative;
    width: 25%;
    border: 2px dashed #C8CBCE;
}

/* Make the image responsive */
.kl-media-viewer-container img {
    width: 100%;
    height: auto;
}

.kl-media-viewer-container video {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.kl-media-viewer-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.kl-media-viewer-container .kl-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #548235;

}

.kl-media-viewer-container .btn:hover {
    background-color: black;
}