.wrap-custom-file {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 140px;
    margin: 0 0.5rem 1rem;
    text-align: center;
}

.wrap-custom-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
}

.wrap-custom-file label.col-form-label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
    cursor: pointer;
    border: 2px dashed #C8CBCE;
    background-color: #fff;
    border-radius: 4px;
    color: #777;
    font-size: 1rem;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.wrap-custom-file label.col-form-label:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}

.wrap-custom-file label.col-form-label { color: #333; }

.wrap-custom-file label.file-ok {
    background-size: cover;
    background-position: center;
}

#gs_userbundle_user_usrImgUrl-error, #gs_userbundle_user_usrPhotoIdUrl-error {
    position: absolute;
    left: 230px;
    width: 200px;
}