{% extends 'frontoffice/base_front.html.twig' %}

{% block title %} {{ parent() }} {{ 'fo.header.menu.home'|trans }} {% endblock %}

{% set locale = app.request.locale %}

{% block body %}
    Under construction
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}