{% extends "@User/layout.html.twig" %}

{% form_theme form 'form/custom_fields.html.twig' %}
{% set form_errors = form.vars.errors.form.getErrors(true) %}

{% block title %}{{ parent() }} {{ 'bo.user.account.title.head'|trans }} {% endblock %}

{% block body %}
    <div class="kl-authentification-log kl-authentification-log-register authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">
        <div class="ui-bg-overlay bg-dark opacity-25"></div>
        <div class="authentication-inner py-5">
            <!-- [ Logo ] Start -->
            <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                <div class="">
                    <div class="w-100 position-relative">
                        <img src="{{ asset('backoffice/img/short-logo.svg') }}"
                             alt="{{ 'bo.sidebar.title.project'|trans }}" class="img-fluid">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- [ Logo ] End -->
            <div class="card">
                <div class="p-0">
                    <h5 class="text-center p-3 mb-0 kl-bb-grey">
                        {{ 'bo.user.account.title' | trans }}
                    </h5>
                    <!-- [ Form ] Start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    {{ form_start(form) }}
                                    {% if form_errors|length %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for error in form_errors %}
                                                {{ error.message }}<br>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="part-one">
                                        <div class="alert alert-danger d-none" id="id-error-message" role="alert"></div>

                                        {{ form_row(form.usrLastname) }}
                                        {{ form_row(form.usrFirstname) }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.password) }}
                                        <div class="text-center justify-content-between align-items-center mb-5">
                                            <label class="custom-control custom-checkbox m-0 kl-custom-pl"></label>
                                            <button type="button" id="id-btn-next" class="btn btn-primary">
                                                {{ 'bo.user.account.btn.next'|trans }}
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox m-0 kl-custom-pl text-left">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="id-contrat-general">
                                                <span class="custom-control-label">
                                                    {{ 'bo.user.account.contrat.general'|trans }}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox m-0 kl-custom-pl text-left">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="id-contrat-mail">
                                                <span class="custom-control-label">
                                                    {{ 'bo.user.account.contrat.mail' | trans }}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="part-two d-none">
                                        <div class="alert alert-danger d-none" id="id-error-message-part-two" role="alert"></div>

                                        <div class="form-group">
                                            <input type="radio" required id="id-particular" name="type_compte"
                                                   value="particular">
                                            <label class="col-form-label" for="id-particular">   {{ 'bo.user.account.particular'|trans }}</label><br>
                                            <input type="radio" required id="id-professionel" name="type_compte"
                                                   value="professionel">
                                            <label class="col-form-label" for="id-professionel"> {{ 'bo.user.account.profesionnel'|trans }}</label><br>
                                        </div>
                                        {{ form_row(form.usrAddress) }}
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-2">
                                                {{ form_label(form.usrDateBirth) }}
                                            </label>
                                            {{ form_widget(form.usrDateBirth, {
                                                'attr': { 'class': 'form-control kl-date-time-picker readonly', }
                                            }) }}
                                        </div>
                                        {{ form_row(form.usrPhoneNumber) }}
                                        <div class="form-group row d-none" id="id-serial-number-parent">
                                            <label class="col-form-label col-sm-3"
                                                   for="id-serial-number-parent">{{ 'bo.user.account.siren.number'|trans }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="siren_number"
                                                       name="siren_number"
                                                       class="form-control kl-siren-number">
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-2 required"
                                                   for="zrp_userbundle_user_captcha">
                                                {{ form_label(form.captcha) }}
                                            </label>
                                            {{ form_widget(form.captcha, {attr: {class: 'form-control'}}) }}
                                        </div>
                                        <div class="text-center justify-content-between align-items-center mb-5">
                                            <label class="custom-control custom-checkbox m-0 kl-custom-pl">
                                            </label>
                                            <button type="submit"
                                                    class="btn btn-primary" id="id-btn-submit">{{ 'bo.user.account.btn.endding' | trans }}</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Form ] End -->
                </div>
            </div>
            <p class="text-center kl-creer-log">
                <a href="{{ path('security_login') }}">
                    Se connecter
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var error_message_input_empty_name = "{{ 'bo.user.account.error.field.empty.name'|trans }}";
        var error_message_input_empty_lastname = "{{ 'bo.user.account.error.field.empty.lastname'|trans }}";
        var error_message_input_empty_mail = "{{ 'bo.user.account.error.field.empty.mail'|trans }}";
        var error_message_input_empty_password = "{{ 'bo.user.account.error.field.empty.password'|trans }}";
        var error_message_contrat = "{{ 'bo.user.account.error.contract'|trans }}";
        var error_message_mail_not_valid = "{{ 'bo.user.account.error.field.mail'|trans }}";
        var error_message_password = "{{ 'bo.user.account.error.field.password'|trans }}";
        var error_message_error_adress = "{{ 'bo.user.account.error.field.adress'|trans }}";
        var error_message_error_type_compte = "{{ 'bo.user.account.error.field.type.compte'|trans }}";
        var error_message_error_date_birth = "{{ 'bo.user.account.error.field.date.birth'|trans }}";
        var error_message_error_phone = "{{ 'bo.user.account.error.field.phone'|trans }}";
        var error_message_error_phone_number = "{{ 'bo.user.account.error.field.phone.number'|trans }}";
        var error_message_error_empty_siren = "{{ 'bo.user.account.error.field.siren'|trans }}";
        var error_message_error_siren_number = "{{ 'bo.user.account.error.field.siren.number'|trans }}";
        var error_message_error_captcha = "{{ 'bo.user.account.error.captcha'|trans }}";
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/user/create_account.js') }}"></script>
{% endblock %}