{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }}
    {{ customer_id > 0 ? 'bo.client.final.historique.transaction'|trans : 'bo.transaction'|trans }}
{% endblock %}

{% set menu_transaction = true %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title':  customer_id > 0 ?    'bo.client.final.historique.transaction'|trans : 'bo.transaction'|trans,
                'breadcrumb_root_name': customer_id > 0 ?    'bo.client.final.historique.transaction'|trans : 'bo.transaction'|trans,
                'breadcrumb_root_name_path':  customer_id > 0 ? path('client_final_fiche', {'id':customer_id }) :path('transaction_index'),
                'breadcrumb_action': 'bo.index.list'|trans
            }
        %}
        <div class="row align-items-center m-l-0">
            <div class="col-sm-6"></div>
            {% if is_granted('ROLE_ENTREPRISE') %}
                <div class="col-sm-6 text-right">
                    {% if last_transaction and  last_transaction.cmpTrxDate %}
                        <span class=" text-success"> {{ 'bo.transaction.date.time.syncronization'|trans }}:
                            {{ last_transaction and  last_transaction.cmpTrxDate ?  last_transaction.cmpTrxDate|date('d/m/Y H:i') : '' }}
                    </span>
                    {% endif %}
                    <a href="{{ path('transaction_recover_transaction', {_company_id : '0'}) }}" class="btn btn-success btn-sm mb-3 btn-round">
                        <i class="feather icon-plus"></i>
                        {{ 'bo.transaction.recover'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        <form id="id-form-transaction" method="GET">
            <input type="hidden" name="montant_one" value="">
            <input type="hidden" name="montant_two" value="">
            <input type="hidden" name="date_emission_one" value="">
            <input type="hidden" name="date_emission_two" value="">
            <input type="hidden" name="commune_facturant" value="">
            <input type="hidden" name="lastname_term" value="">
            <input type="hidden" name="firstname_term" value="">
            <input type="hidden" name="code_postal" value="">
            <input type="hidden" name="commune_facture" value="">
            <input type="hidden" name="num_caisse" value="">
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table id="id-transaction-list" class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr>
                                    <th>
                                        <button id="id-btn-filter" class="btn btn-success btn-sm btn-round kl-btn-customer-filter">{{ 'bo.datatable.filter'| trans }}</button>
                                        <button id="id-btn-reset" class="btn btn-default btn-sm btn-round kl-btn-customer-clear-filter">{{ 'bo.global.reset'| trans }}</button>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" id="id-filter-montant-one" placeholder="{{ 'bo.transaction.montant'|trans }}">
                                        <span class="kl-span-text-date">à</span>
                                        <input type="text" class="form-control" id="id-filter-montant-two" placeholder="{{ 'bo.transaction.montant'|trans }}">
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" placeholder="JJ/MM/AAAA" id="id-filter-date-emission-one">
                                        <span class="kl-span-text-date">à</span>
                                        <input type="text" class="form-control" placeholder="JJ/MM/AAAA" id="id-filter-date-emission-two">
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" id="id-filter-commune-facturant" placeholder="{{ 'bo.company.commune.company'|trans }}">
                                        <div  id="id-map-canvas"></div>
                                    </th>
                                    <th><input type="text" class="form-control" id="id-filter-lastname" placeholder="{{ 'bo.transaction.customer.name'|trans }}"></th>
                                    <th><input type="text" class="form-control" id="id-filter-firstname" placeholder="{{ 'bo.transaction.customer.firstname'|trans }}"></th>
                                    <th><input type="text" class="form-control" id="id-filter-code-postal" placeholder="{{ 'bo.transaction.code.postal.facture'|trans }}"></th>
                                    <th>
                                        <input type="text" class="form-control" id="id-filter-commune" placeholder="{{ 'bo.transaction.commune.customer'|trans }}">
                                        <div  id="id-map-canvas-two"></div>
                                    </th>
                                    <th>
                                        <select id="id-filter-num-caisse" class="form-control kl-select-cash-register">
                                            <option value="">{{ 'bo.cash.register.num'|trans }}</option>
                                        </select>
                                    </th>
                                    </th>
                                </tr>
                                <tr>
                                    <th>{{ 'bo.index.th.action'|trans }}</th>
                                    <th>{{ 'bo.transaction.montant'|trans }}</th>
                                    <th>{{ 'bo.transaction.date.heure.emission'|trans }}</th>
                                    <th>{{ 'bo.transaction.commune.facturant'|trans }}</th>
                                    <th>{{ 'bo.transaction.customer.name'|trans }}</th>
                                    <th>{{ 'bo.transaction.customer.firstname'|trans }}</th>
                                    <th>{{ 'bo.transaction.code.postal.facture'|trans }}</th>
                                    <th>{{ 'bo.transaction.commune.facture'|trans }}</th>
                                    <th>{{ 'bo.cash.register.num'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_admin_transaction_list_ajax = "{{ path('transaction_admin_list_ajax') }}";
        var href_edit_default = "{{ path('company_edit', {id: 0}) }}";
        var href_delete_default = "{{ path('transaction_delete', {id: 0}) }}";
        {#var href_show_qr_code_default = "{{ path('transaction_show_qr_code', {id: 0}) }}";#}
        var href_transaction_ticket_generate_pdf_default = "{{ path('transaction_ticket_generate_pdf', {'id': 0}) }}";
        var text_update = "{{ 'bo.button.update'|trans }}";
        var text_delete = "{{ 'bo.button.delete'|trans }}";
        var default_sorting = [[0, 'desc']];
        var url_cash_register_list_num_ajax = "{{ path('cash_register_list_num_ajax') }}";
        var customer_id = '{{ customer_id }}';
        var is_not_client = true;
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmwCw37HTccUqVj1GlzTP_0F2N_CsAPrM&libraries=places"
            type="text/javascript"></script>

    <script type="text/javascript" src="{{ asset('backoffice/js/transaction/list.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/cash_register/list.num.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/transaction/map.transaction.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backoffice/js/transaction/map.commune.js') }}"></script>
{% endblock %}