{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.transaction'|trans }} {% endblock %}

{% set menu_transaction = true %}

{% block body %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.transaction.qr.code'|trans,
                'breadcrumb_base_root': 'bo.transaction'|trans,
                'breadcrumb_root_name': 'bo.transaction.qr.code'|trans,
                'breadcrumb_root_name_path': path('transaction_index'),
            } %}

        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-6">
                <div class="card">
                    <div class="card-body">
                        <img  src="{{asset(transaction.trxQrCode )}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
