{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.dashboard'|trans }} {% endblock %}

{% set menu_general = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid mt--6">
        <!-- Page breadcrumb -->
        <div class="kl-bread-dahsboard">
            {% include 'backoffice/base_admin_breadcrumb.html.twig' with
                { 'breadcrumb_title': 'bo.customer.greeting'|trans~' '~ app.user.usrFirstname~' !' } %}
        </div>

        <!-- Page content -->
        <div class="row mb-5 kl-search-dashboards">
            <div class="d-flex justify-content-center w-100 pl-2 pr-4">
                <i id="id-btn-search" class="fas fa-search text-white fa-lg pt-1 pl-2" aria-hidden="true"></i>
                <input id="id-input-search" class="text-white form-control  form-control-sm ml-3 col-sm-2" type="text"
                       placeholder="{{ 'bo.ticket.dashboard.search'|trans }}"
                       aria-label="Search">
            </div>
        </div>
        <div class="row">
            <div class="col" id="id-customer-transaction-list">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var url_dashboard_list_transaction_customer_ajax = "{{ path('dashboard_list_transaction_customer_ajax') }}";
    </script>
    <script type="text/javascript" src="{{ asset('backoffice/js/dashboard/transaction.customer.js') }}"></script>
{% endblock %}