{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.dashboard'|trans }} {% endblock %}

{% set menu_general = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid mt--6">
        <!-- Page breadcrumb -->
        <div class="kl-bread-dahsboard">
            {% include 'backoffice/base_admin_breadcrumb.html.twig' with
                { 'breadcrumb_title': 'bo.sidebar.dashboard'|trans } %}
        </div>

        <!-- Page content -->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {% if is_granted('ROLE_SUPERADMIN') %}
                        <div class="col-sm-6 col-md-3 mb-4 ">
                            <div class="card bg-white text-white h-100">
                                <div class="card-body d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="ion ion-md-home display-4 text-danger"></div>
                                        <div class="ml-4">
                                            <div class="text-large text-secondary">{{ nbr_company|number_format(0,'.',' ') }}</div>
                                            <div class="text-danger small">
                                                {{ 'bo.transaction.company'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
                        <div class="col-sm-6 col-md-3 mb-4 ">
                            <div class="card bg-white text-white h-100">
                                <div class="card-body d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="ion ion-ios-people display-4 text-danger"></div>
                                        <div class="ml-4">
                                            <div class="text-large text-secondary">{{ nbr_client_final|number_format(0,'.',' ') }}</div>
                                            <div class="text-danger small">
                                                {{ 'bo.transaction.client.final'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-sm-12 col-md-6 mb-4">
                        <div class="card bg-white text-white mb-0">
                            <div class="card-body">
                                <div class="nav-tabs-right d-flex align-items-center kl-tabs-transaction">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#id-transaction-today">{{ 'bo.global.today'|trans }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#id-transaction-yesterday">{{ 'bo.global.yesterday'|trans }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#id-transaction-frombeginning">{{ 'bo.global.from.begin'|trans }}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="id-transaction-today">
                                            <div class="d-flex align-items-center">
                                                <div class="ion ion-md-pulse display-4 text-warning"></div>
                                                <div class="ml-4">
                                                    <div class="text-secondary small">
                                                        {{ 'bo.sum.amount.transaction.dashboard'|trans }}
                                                    </div>
                                                    <div class="text-large text-warning">{{ sum_transaction_today ? sum_transaction_today|number_format(2, '.', ' ') : 0 }} €</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="id-transaction-yesterday">
                                            <div class="d-flex align-items-center">
                                                <div class="ion ion-md-pulse display-4 text-warning"></div>
                                                <div class="ml-4">
                                                    <div class="text-secondary small">
                                                        {{ 'bo.sum.amount.transaction.dashboard'|trans }}
                                                    </div>
                                                    <div class="text-large text-warning">{{ sum_transaction_yesterday ? sum_transaction_yesterday|number_format(2, '.', ' ') : 0 }} €</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="id-transaction-frombeginning">
                                            <div class="d-flex align-items-center">
                                                <div class="ion ion-md-pulse display-4 text-warning"></div>
                                                <div class="ml-4">
                                                    <div class="text-secondary small">
                                                        {{ 'bo.sum.amount.transaction.dashboard'|trans }}
                                                    </div>
                                                    <div class="text-large text-warning" >{{ sum_total_transaction ? sum_total_transaction|number_format(2, '.', ' ') : 0}} €</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 bg-white">
                    <div class="card-header with-elements pb-0">
                        <h6 class="card-header-title mb-0">{{ 'bo.transaction.statistics'|trans }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="kl-statistic-filter">
                            <div class="kl-bx-head-filter">

                                <input type="text" id="id-daterange-filter"  class="form-control w-25 mr-4">

                                <ul class="nav nav-pills card-header-pills nav-responsive-md">
                                    <li class="nav-item">
                                        <a class="nav-link kl-day" data-toggle="tab" href="#id-stat-day">{{ 'bo.global.day'|trans }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link kl-week" data-toggle="tab" href="#id-stat-week">{{ 'bo.global.week'|trans }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link kl-month active" data-toggle="tab" href="#id-stat-month">{{ 'bo.global.month'|trans }}</a>
                                    </li>
                                </ul>

                                <div class="kl-controls-filter">
                                    <button type="button" class="btn btn-outline-primary kl-preview">{{ 'bo.global.preview'|trans }}</button>
                                    <button type="button" class="btn btn-outline-primary kl-next">{{ 'bo.global.next'|trans }}</button>
                                </div>

                                <label class="nav-item navbar-text navbar-search-box">
                                    <i class="feather icon-search navbar-icon align-middle"></i>
                                    <span class="pl-2">
                                        {% if is_granted('ROLE_ENTREPRISE') %}
                                            <input type="text" class="form-control kl-input-search" placeholder="{{ 'bo.transaction.search.number.reference'|trans }}">
                                        {% else %}
                                            <input type="text" class="form-control kl-input-search" placeholder="{{ 'bo.transaction.search.number.siren'|trans }}" >
                                        {% endif %}
                                    </span>
                                </label>

                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="id-stat-month">
                                    <canvas id="chart-line-month" width="800" height="185"></canvas>
                                </div>
                                <div class="tab-pane fade" id="id-stat-week">
                                    <canvas id="chart-line-week" width="800" height="185"></canvas>
                                </div>
                                <div class="tab-pane fade" id="id-stat-day">
                                    <canvas id="chart-line-day" width="800" height="185"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
                    {% if transaction_clients|length %}
                    <div class="card mb-4 bg-white">
                        <!-- <h5 class="card-header">Anual Sales Report</h5> -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                <tr>
                                    <th></th>
                                    {% if is_granted('ROLE_SUPERADMIN') %}
                                        <th class="text-left">{{ 'bo.transaction.customer.firstname.lastname'|trans }}</th>
                                        <th class="text-left">{{ 'bo.transaction.rs.company'|trans }}</th>
                                        <th class="text-left">{{ 'bo.transaction.montant'|trans }}</th>
                                        <th class="text-left">{{ 'bo.cash.register.num'|trans }}</th>
                                        <th class="text-left">{{ 'bo.transaction.th.user'|trans }}</th>
                                    {% else %}
                                        <th class="text-left">{{ 'bo.transaction.customer.firstname.lastname'|trans }}</th>
                                        <th class="text-left">{{ 'bo.transaction.montant'|trans }}</th>
                                        <th class="text-left">{{ 'bo.cash.register.num'|trans }}</th>
                                        <th class="text-left">{{ 'bo.transaction.date.heure.index'|trans }}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction_client in transaction_clients %}
                                    <tr>
                                        {% if is_granted('ROLE_SUPERADMIN') %}
                                            <td></td>
                                            <td>{{ transaction_client.userName ? transaction_client.userName : transaction_client.last_name }}</td>
                                            <td>{{ transaction_client.cmp_name }}</td>
                                            <td>{{ transaction_client.amount| number_format(2, '.', ' ') }}</td>
                                            <td>{{ transaction_client.ref_caisse}}</td>
                                            <td>{{ transaction_client.user_name }}</td>
                                        {% else %}
                                            <td></td>
                                            <td>{{ transaction_client.userName ? transaction_client.userName : transaction_client.last_name }}</td>
                                            <td>{{ transaction_client.amount | number_format(2, '.', ' ')  }}</td>
                                            <td>{{ transaction_client.ref_caisse}}</td>
                                            <td>{{ transaction_client.trx_date }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                    <a class="btn btn-default btn-sm btn-round" href="{{ path('customer_ticket_index') }}"><i class="sidenav-icon feather icon-layers"></i>{{ 'bo.sidebar.dashboard.show.all.ticket'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var url_ajax_fetch_chart = "{{ path('dashboard_ajax_fetch_chart') }}";
        var url_ajax_amount_type = "{{ path('dashboard_ajax_amount_type') }}";
        var sum_amount = "{{ 'bo.sum.amount.transaction.dashboard'|trans }}";
        var label_date_interval = "{{ 'bo.ticket.date.intervalle.placeholder'|trans }}";
        var amount_total = "{{ 'bo.ticket.date.amount.total'|trans }}";
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/dashboard/dashboard.chart.js') }}"></script>
{% endblock %}