{% set active = 'active' %}

<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark logo-dark">
    <div class="app-brand demo">
        <span class="app-brand-logo ddd demo">
            <img src="{{ asset('backoffice/img/logo.svg') }}" alt="Brand Logo" class="img-fluid">
        </span>
        <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
            <i class="ion ion-md-menu align-middle"></i>
        </a>
    </div>
    <div class="kl-date-bars">
        <div class="kl-date-leftbars">{{ "now"|date("d/m/Y") }}</div>
        <div class="kl-date-rightbars">
            <span id="id-horloge"></span>
        </div>
    </div>

    <!-- Links -->
    <ul class="sidenav-inner py-1">
        <!-- Dashboards -->
        <li class="sidenav-item {{ menu_general is defined ? 'open active' }}">
            <a href="{{ path('dashboard_index') }}" class="sidenav-link">
                <i class="sidenav-icon feather icon-home"></i>
                <div>{{ 'bo.sidebar.dashboard'|trans }}</div>
            </a>
        </li>
        {# Donnés de base #}
        {% if is_granted('ROLE_SUPERADMIN') %}
            <li class="sidenav-item {{ menu_role is defined or menu_user is defined or menu_expense_type is defined
                or menu_company_type is defined or menu_company_activity is defined or menu_customer_type is defined
                or menu_erp is defined or menu_company_erp is defined ? 'open' }}">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-package"></i>
                    <div>Général</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item {{ menu_expense_type is defined or menu_company_type is defined
                        or menu_company_activity is defined or menu_customer_type is defined ? 'open' }}">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <div>{{ 'bo.sidebar.database'|trans }}</div>
                        </a>
                        <ul class="sidenav-menu">
                           {# <li class="sidenav-item">
                                <a href="{{ path('customer_type_index') }}"
                                   class="sidenav-link {{ menu_customer_type is defined ? 'active' }}">
                                    <div>{{ 'bo.sidebar.customer.type'|trans }}</div>
                                </a>
                            </li>#}
                            <li class="sidenav-item">
                                <a href="{{ path('company_type_index') }}"
                                   class="sidenav-link {{ menu_company_type is defined ? 'active' }}">
                                    <div>{{ 'bo.sidebar.company.type'|trans }}</div>
                                </a>
                            </li>
                            {#<li class="sidenav-item">
                                <a href="{{ path('expense_type_index') }}"
                                   class="sidenav-link {{ menu_expense_type is defined ? 'active' }}">
                                    <div>{{ 'bo.sidebar.expense.type'|trans }}</div>
                                </a>
                            </li>#}
                            <li class="sidenav-item">
                                <a href="{{ path('company_activity_index') }}"
                                   class="sidenav-link {{ menu_company_activity is defined ? 'active' }}">
                                    <div>{{ 'bo.sidebar.company.activity'|trans }}</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="{{ path('client_index') }}"
                                   class="sidenav-link {{ menu_client is defined ? 'active' }}">
                                    <div>{{ 'bo.sidebar.client'|trans }}</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="{{ path('command_index') }}"
                                   class="sidenav-link {{ menu_command is defined ? 'active' }}">
                                    <div>{{ 'bo.sidebar.command'|trans }}</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidenav-item">
                        <a href="{{ path('erp_index') }}"
                           class="sidenav-link {{ menu_erp is defined ? 'active' }}">
                            <div>{{ 'bo.sidebar.erp'|trans }}</div>
                        </a>
                    </li>

                    <li class="sidenav-item">
                        <a href="{{ path('company_erp_index') }}"
                           class="sidenav-link {{ menu_company_erp is defined ? 'active' }}">
                            <div>{{ 'bo.sidebar.company.erp'|trans }}</div>
                        </a>
                    </li>

                    <li class="sidenav-item" {{ menu_role is defined ? ' active' }}>
                        <a href="{{ path('role_index') }}" class="sidenav-link {{ menu_role is defined ? 'active' }}">
                            <div>{{ 'bo.sidebar.role'|trans }}</div>
                        </a>
                    </li>
                    <li class="sidenav-item" {{ menu_user is defined ? ' active' }}>
                        <a href="{{ path('user_index') }}" class="sidenav-link {{ menu_user is defined ? 'active' }}">
                            <div>{{ 'bo.sidebar.user'|trans }}</div>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SUPERADMIN') %}
            <li class="sidenav-item {{ menu_company is defined ? ' active' }}">
                <a href="{{ path('company_index') }}" class="sidenav-link">
                    <i class="sidenav-icon ion ion-ios-briefcase"></i>
                    <div>{{ 'bo.sidebar.company'|trans }}</div>
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
            <li class="sidenav-item {{ menu_client_final  is defined ? ' active' }}">
                <a href="{{ path('client_final_index') }}" class="sidenav-link">
                    <i class="sidenav-icon feather icon-users"></i>
                    <div>{{ 'bo.sidebar.client.final'|trans }}</div>
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
        <li class="sidenav-item {{ menu_transaction  is defined ? ' active' }}">
            <a href="{{ path('transaction_index') }}" class="sidenav-link">
                <i class="sidenav-icon feather icon-layers"></i>
                <div>{{ 'bo.transaction'|trans }}</div>
            </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ENTREPRISE') %}
            <li class="sidenav-item {{ menu_cash_register  is defined ? ' active' }}">
                <a href="{{ path('cash_register_index') }}" class="sidenav-link">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>{{ 'bo.sidebar.cash.register'|trans }}</div>
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_CLIENT') %}
            <li class="sidenav-item {{ menu_customer_ticket  is defined ? ' active' }}">
                <a href="{{ path('customer_ticket_index') }}" class="sidenav-link">
                    <i class="sidenav-icon feather icon-layers"></i>
                    <div>{{ 'bo.ticket'|trans }}</div>
                </a>
            </li>
            <li class="sidenav-item {{ menu_folder  is defined ? ' active' }}">
                <a href="{{ path('folder_index') }}" class="sidenav-link">
                    <i class="sidenav-icon feather icon-folder"></i>
                    <div>{{ 'bo.folder.sidebar'|trans }}</div>
                </a>
            </li>
            <li class="sidenav-item {{ menu_help_contact  is defined ? ' active' }}">
                <a href="{{ path('customer_help_contact_index') }}" class="sidenav-link">
                    <i class="sidenav-icon feather icon-message-circle"></i>
                    <div>{{ 'bo.help.contact.sidebar'|trans }}</div>
                </a>
            </li>
        {% endif %}
    </ul>
</div>