<!DOCTYPE html>
<html lang="en" class="default-style layout-fixed layout-navbar-fixed overflow-x-hidden">
    <head>
        <title>{% block title %} {{ 'bo.sidebar.title.project'|trans }} | {% endblock %}</title>
        {% block stylesheets %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
            <!-- Google fonts -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
            <!-- Icon fonts -->
            <link rel="stylesheet" href="{{ asset('backoffice/fonts/fontawesome.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/fonts/ionicons.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/fonts/linearicons.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/fonts/open-iconic.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/fonts/pe-icon-7-stroke.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/fonts/feather.css') }}">
            <!-- Core stylesheets -->
            <link rel="stylesheet" href="{{ asset('backoffice/css/bootstrap-material.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/css/shreerang-material.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/css/uikit.css') }}">
            <!-- Libs -->
            <link rel="stylesheet" href="{{ asset('backoffice/libs/perfect-scrollbar/perfect-scrollbar.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/libs/datatables/datatables.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/libs/flot/flot.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/libs/select2/select2.css') }}">
            <link rel="stylesheet" href="{{ asset('backoffice/libs/bootstrap-datepicker/bootstrap-datepicker.css') }}">
            <!-- daterange picker -->
            <link rel="stylesheet" type="text/css"
                  href="{{ asset('backoffice/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css') }}"/>
            <link rel="stylesheet" type="text/css"
                  href="{{ asset('backoffice/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css') }}"/>
            <!-- Custom -->
            <link rel="stylesheet" href="{{ asset('backoffice/css/general.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('backoffice/css/custom.css') }}" type="text/css">
            <!-- Bootstrap validator -->
            <link href="{{ asset('plugins/bootstrap-validator/bootstrapValidator.css') }}" rel="stylesheet"
                  type="text/css" />
        {% endblock %}
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('backoffice/img/logo.ico') }}">
    </head>
    <body>

        <div class="kl-error-page-wrapper kl-zerop-layout">
            {% block body %}{% endblock %}
        </div>

        <!-- [ Layout wrapper] End -->
        {% block javascripts %}
            <script type="text/javascript">
                var locale = "{{ app.request.locale }}";
                var url_datatable_language = "{{ asset('backoffice/js/datatable_translations/datatable.'~ app.request.locale ~'.json') }}";
            </script>
            <script type="text/javascript" src="{{ asset('backoffice/js/default_datatable.js') }}"></script>
            <!-- Core scripts -->
            <script src="{{ asset('backoffice/js/pace.js') }}"></script>
            <script src="{{ asset('plugins/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('backoffice/libs/popper/popper.js') }}"></script>
            <script src="{{ asset('backoffice/js/bootstrap.js') }}"></script>
            <script src="{{ asset('backoffice/js/sidenav.js') }}"></script>
            <script src="{{ asset('backoffice/js/layout-helpers.js') }}"></script>
            <script src="{{ asset('backoffice/js/material-ripple.js') }}"></script>
            <!-- Libs -->
            <script src="{{ asset('backoffice/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
            <script src="{{ asset('backoffice/libs/datatables/datatables.js') }}"></script>
            <script src="{{ asset('backoffice/libs/eve/eve.js') }}"></script>
            <script src="{{ asset('backoffice/libs/flot/flot.js') }}"></script>
            <script src="{{ asset('backoffice/libs/flot/curvedLines.js') }}"></script>
            <script src="{{ asset('backoffice/libs/chart-am4/core.js') }}"></script>
            <script src="{{ asset('backoffice/libs/chart-am4/charts.js') }}"></script>
            <script src="{{ asset('backoffice/libs/chart-am4/animated.js') }}"></script>
            <script src="{{ asset('backoffice/libs/select2/select2.js') }}"></script>
            <script src="{{ asset('plugins/vendor/select2/dist/js/i18n/fr.js') }}"></script>
            <script src="{{ asset('plugins/vendor/select2/dist/js/i18n/en.js') }}"></script>
            <script src="{{ asset('plugins/vendor/moment/moment.js') }}"></script>
            <script src="{{ asset('backoffice/libs/bootstrap-datepicker/jquery.ui.datepicker-fr.js') }}"></script>
            <script src="{{ asset('backoffice/libs/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/bootbox/bootbox.min.js') }}"></script>
            <!-- datetimepicker -->
            <script type="text/javascript"
                    src="{{ asset('plugins/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('backoffice/libs/moment/moment.js') }}"></script>
            <script src="{{ asset('plugins/validation-jquery/jquery.validate.min.js') }}"></script>
            <!-- Bootstrap validator -->
            <script src="{{ asset('plugins/bootstrap-validator/bootstrapValidator.js') }}"
                    type="text/javascript"></script>
            <script src="{{ asset('plugins/validation-jquery/localization/messages_fr.min.js') }}"></script>
            <script src="{{ asset('plugins/jquery-mask/jquery.mask.min.js') }}"></script>
            <script src="{{ asset('plugins/jquery-mask/jquery.numeric.js') }}"></script>
            <script src="{{ asset('plugins/js-zip/jszip.min.js') }}"></script>
            <script src="{{ asset('plugins/js-zip-utils/jszip-utils.js') }}"></script>
            <!-- daterangepicker -->
            <script src="{{ asset('backoffice/libs/bootstrap-daterangepicker/daterangepicker.min.js') }}"></script>
            <script src="{{ asset('backoffice/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script>
            <!-- daterangepicker -->
            <!-- General -->
            <script src="{{ asset('backoffice/js/general.js') }}"></script>
            <!-- Demo -->
            <script src="{{ asset('backoffice/js/demo.js') }}"></script>
            <script src="{{ asset('backoffice/js/analytics.js') }}"></script>
            <script src="{{ asset('backoffice/js/delete.file.js') }}"></script>
        {% endblock %}
    </body>
</html>