<h4 class="font-weight-bold py-3 mb-0 text-white">{{ breadcrumb_title }}</h4>
<div class="text-muted small mt-0 mb-4 d-block breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard_index') }}">
                <i class="feather icon-home"></i>
            </a>
        </li>
        {% if breadcrumb_base_root is defined %}
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">{{ breadcrumb_base_root }}</a>
            </li>
        {% endif %}
        {% if breadcrumb_root_name is defined %}
            <li class="breadcrumb-item">
                <a href="{{ breadcrumb_root_name_path }}">{{ breadcrumb_root_name }}</a>
            </li>
        {% endif %}
        {% if breadcrumb_action is defined %}
        <li class="breadcrumb-item">
            <a href="javascript:void(0)">{{ breadcrumb_action }}</a>
        </li>
        {% endif %}
        {% if breadcrumb_path is defined %}
            <li class="breadcrumb-item active">
                <a href="{{ breadcrumb_path }}">{{ breadcrumb_text_action }}</a>
            </li>
        {% endif %}
    </ol>
</div>