<nav class="layout-footer footer footer-light">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
        <div class="pt-3">
            <span class="float-md-right d-none d-lg-block">
                &copy; Livenexx | {{ 'bo.sidebar.title.project'|trans }}
            </span>
        </div>
    </div>
</nav>