.flot-overlay ~ .legend>*{right:0 !important}.flot-overlay ~ .legend .legendColorBox{padding-right:5px}.default-style .flotTip{padding:4px 10px !important;border-color:#46494d !important;border-radius:.25rem !important;background-color:#46494d !important;color:#fff !important;font-size:11px !important}.material-style .flotTip{padding:4px 10px !important;border-color:#46494d !important;border-radius:.125rem !important;background-color:#46494d !important;color:#fff !important;font-size:11px !important}
