{% extends 'backoffice/base_front.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.ticket'|trans }} {% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y d-flex align-items-center">
        <div class="row w-100 m-0">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body  bg-white">
                        <div class="col-12">
                            {% if transaction.trxIpView is null %}
                                <div class="kl-card kl-spaced kl-img-user">
                                    <div class="text-white bg-primary p-2 mb-4">
                                        <h2 class="text-center text-uppercase mb-0 pb-0">
                                            <b>{{ transaction.zrpCompany ? transaction.zrpCompany.cmpName : '' }}</b>
                                        </h2>
                                        <p class="text-center mb-0 pb-0">
                                            <span>
                                                {{ transaction.zrpCompany ? transaction.zrpCompany.zrpUser.email : '' }}
                                            </span>
                                        </p>
                                        <p class="text-center mb-0 pb-0">
                                            <span>
                                                {{ transaction.zrpCompany ? transaction.zrpCompany.zrpUser.usrPhoneNumber : '' }}
                                            </span>
                                        </p>
                                    </div>
                                    <p>
                                        <b>{{ 'bo.transaction.customer.name'|trans }}</b> :
                                        <span>
                                            {{ transaction.zrpCustomer ? transaction.zrpCustomer.zrpUser ? transaction.zrpCustomer.zrpUser.usrLastname :'' }}
                                        </span>
                                    </p>
                                    <p>
                                        <b>{{ 'bo.transaction.date.heure.emission'|trans }}</b> :
                                        <span>
                                            {{ transaction.trxIssueDate ? transaction.trxIssueDate|date('d-m-Y') : '' }}
                                        </span>
                                    </p>
                                    {% if transaction.trxPostalCodeInvoiced %}
                                        <p>
                                            <b>{{ 'bo.transaction.code.postal.facture'|trans }}</b> :
                                            <span>{{ transaction.trxPostalCodeInvoiced }}</span>
                                        </p>
                                    {% endif %}
                                    {% if transaction.trxPostalCodeBiller %}
                                        <p>
                                            <b>{{ 'bo.transaction.cp.facturant'|trans }}</b> :
                                            <span>{{ transaction.trxPostalCodeBiller }}</span>
                                        </p>
                                    {% endif %}
                                    <p>
                                        <b>Détails commande: </b>
                                        <span>
                                              {% for json_detail in json_details %}
                                                  <ul>
                                                      <li>Produit : {{ json_detail.full_product_name }}</li>
                                                      <li>Quantité : {{ json_detail.qty }}</li>
                                                      <li>PU: {{ json_detail.price_unit }}</li>
                                                      <li>Total: {{ json_detail.price_subtotal_incl }}</li>
                                                  </ul>
                                              {% endfor %}
                                        </span>
                                    </p>
                                    <p>
                                        <b>{{ 'bo.transaction.montant'|trans }}</b> :
                                        <span>{{ transaction.trxAmount }}</span>
                                    </p>
                                    {% if transaction.zrpCityBiller %}
                                        <p>
                                            <b>{{ 'bo.transaction.commune.facturant'|trans }}</b> :
                                            <span>
                                                {{ transaction.zrpCityBiller ? transaction.zrpCityBiller.ctName : '' }}
                                            </span>
                                        </p>
                                    {% endif %}
                                    {% if  transaction.zrpCompanyActivity%}
                                        <p>
                                            <b>{{ 'bo.transaction.activite.facturant'|trans }}</b> :
                                            <span>
                                                {{ transaction.zrpCompanyActivity ? transaction.zrpCompanyActivity.cmpActName :'' }}
                                            </span>
                                        </p>
                                    {% endif %}
                                    <div class="kl-ftr-btn-group">
                                        <a href="{{ path('security_login') }}" class="btn btn-primary">
                                            {{ 'bo.login'|trans }}
                                        </a>
                                        <a href="{{ path('security_user_register') }}" class="btn btn-secondary">
                                            {{ 'bo.login.create.account'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="kl-card kl-spaced kl-img-user">
                                    <div class="text-white bg-primary p-2 mb-4">
                                        <h2 class="text-center text-uppercase mb-0 pb-0">
                                            <b>Url non accessible</b>
                                        </h2>
                                    </div>
                                    <a href="{{ path('security_login') }}" class="btn btn-secondary">
                                        {{ 'bo.login'|trans }}
                                    </a>
                                    <a href="{{ path('security_user_register') }}" class="btn btn-secondary">
                                        {{ 'bo.login.create.account'|trans }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var id = "{{ transaction.id }}";
        var url_ticket_set_ip_view_ajax = "{{ path('ticket_set_ip_view_ajax') }}";
    </script>

    <script src="{{ asset('frontoffice/js/ticket/view.ajax.js') }}"></script>
{% endblock %}
