.kl-bb-grey {
  border-bottom: 1px solid rgba(24, 28, 33, 0.1); }

.authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%; }
  .authentication-wrapper .authentication-inner {
    width: 100%; }
  .authentication-wrapper.authentication-1, .authentication-wrapper.authentication-2, .authentication-wrapper.authentication-4 {
    align-items: center;
    justify-content: center; }
  .authentication-wrapper.authentication-1 .authentication-inner {
    max-width: 588px; }
  .authentication-wrapper.authentication-2 .authentication-inner {
    max-width: 588px; }
  .authentication-wrapper.authentication-3 {
    align-items: stretch;
    justify-content: stretch; }
    .authentication-wrapper.authentication-3 .authentication-inner {
      display: flex;
      align-items: stretch;
      flex-wrap: nowrap;
      justify-content: stretch; }
  .authentication-wrapper.authentication-4 .authentication-inner {
    max-width: 800px; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .authentication-wrapper:after {
    content: '';
    display: block;
    flex: 0 0 0;
    min-height: inherit;
    width: 0;
    font-size: 0; } }

/*# sourceMappingURL=authentication.css.map */
