.contacts-dropdown {
  position: absolute;
  top: .75rem;
  right: .75rem; }

.contacts-col-view .contact-content {
  margin: 0 auto;
  text-align: center; }
.contacts-col-view .contact-content-img {
  margin-bottom: 1.25rem;
  width: 6.25rem;
  height: 6.25rem; }
.contacts-col-view .contact-content-name,
.contacts-col-view .contact-content-user {
  display: block; }

.contacts-row-view .contacts-col > .card > .card-body {
  padding: 1rem; }
.contacts-row-view .contact-content-img {
  flex-grow: 0;
  flex-shrink: 0;
  margin: .125rem 1.25rem 0 .25rem;
  width: 4rem;
  height: 4rem; }
.contacts-row-view .contact-content {
  display: flex;
  width: 100%; }
.contacts-row-view .contact-content-about {
  flex-grow: 1; }
  .contacts-row-view .contact-content-about > hr {
    margin-top: .5rem;
    margin-bottom: .5rem; }
.contacts-row-view .contact-content-name,
.contacts-row-view .contact-content-user {
  display: inline-block; }

@media (min-width: 768px) {
  .default-style .contacts-col-view .contacts-col {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important; } }

@media (min-width: 768px) {
  .material-style .contacts-col-view .contacts-col {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important; } }

/*# sourceMappingURL=contacts.css.map */
