.messages-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1 1 100%;
  width: 100%; }

.messages-card {
  overflow: hidden; }

.messages-wrapper,
.messages-sidebox {
  transition: all 0.2s; }

.messages-sidebox {
  flex-basis: 100%;
  flex-grow: 0; }

.messages-wrapper .messages-sidebox,
.messages-card .messages-sidebox {
  position: fixed;
  left: calc(-14rem - 1px);
  z-index: 10;
  flex-basis: auto;
  flex-grow: 1;
  width: 14rem; }

.layout-sidenav-100vh .messages-wrapper .messages-sidebox {
  height: 100vh; }

.messages-wrapper .messages-sidebox {
  background: #f3f3f3; }

.messages-card .messages-sidebox {
  position: absolute;
  bottom: 0; }

.messages-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%; }
  .messages-scroll.messages-content {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%; }

.messages-list .list-group-item {
  z-index: auto !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  width: 100%;
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
  .messages-list .list-group-item:first-child {
    border-top: 0; }
  .messages-list .list-group-item:last-child {
    border-bottom: 0; }
  .messages-list .list-group-item > * {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem; }

.message-checkbox .custom-control {
  display: block !important;
  margin: 0;
  margin-top: -1px; }

.message-sender {
  min-width: 10rem; }

.message-subject {
  width: 100%; }

.message-date {
  white-space: nowrap; }

.message-attachment {
  display: flex;
  align-items: center;
  width: 100%; }
  .message-attachment > .media-body {
    min-width: 0; }

.message-attachment-file,
.message-attachment-img {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem; }

.message-attachment-file {
  display: inline-block;
  text-align: center;
  line-height: 4rem; }

.message-attachment-img {
  background-color: transparent;
  background-position: center center;
  background-size: cover; }

.message-attachment-filename {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap; }

.messages-wrapper .messages-sidebox {
  z-index: 1081; }

.messages-sidebox-open .messages-sidebox {
  left: 0; }

.messages-card .messages-sidebox {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.13); }

@media only screen and (min-width: 576px) {
  .messages-list .list-group-item {
    flex-wrap: nowrap; }

  .message-subject {
    width: auto; }

  .message-date {
    margin-left: auto; } }
@media only screen and (min-width: 768px) {
  .messages-sidebox {
    flex-basis: 14rem; }

  .messages-wrapper .messages-sidebox {
    flex-basis: auto; } }
@media only screen and (min-width: 992px) {
  .messages-wrapper,
  .messages-sidebox {
    transition: none !important; }

  .messages-wrapper {
    padding-left: 14rem; }

  .messages-sidebox {
    z-index: auto !important; }

  .messages-wrapper .messages-sidebox {
    position: absolute;
    left: 0;
    z-index: auto; }

  .messages-wrapper .messages-sidebox {
    height: 100% !important; }

  .messages-card .messages-sidebox {
    position: static;
    right: auto;
    left: auto;
    flex-grow: 0;
    height: auto; } }

/*# sourceMappingURL=messages.css.map */
