.product-list-slider.noUi-target .noUi-tooltip,
.product-list-slider .noUi-target .noUi-tooltip {
  opacity: 0;
  transition: opacity .2s; }
.product-list-slider.noUi-target.noUi-state-drag .noUi-tooltip, .product-list-slider.noUi-target:hover .noUi-tooltip,
.product-list-slider .noUi-target.noUi-state-drag .noUi-tooltip,
.product-list-slider .noUi-target:hover .noUi-tooltip {
  opacity: 1; }

.product-item-table tr:first-child td {
  border-top: 0 !important; }
.product-item-table tr td:first-child {
  width: 9rem; }

.product-item-discounts-table thead tr:first-child th,
.product-discounts-edit thead tr:first-child th {
  border-top: 0 !important; }
.product-item-discounts-table td,
.product-item-discounts-table th,
.product-discounts-edit td,
.product-discounts-edit th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  vertical-align: middle; }

.product-discounts-edit td > .input-group,
.product-discounts-edit td > .form-control,
.product-discounts-edit td > .custom-select {
  min-width: 7.5rem !important; }

.product-image-move {
  cursor: grab; }

/*# sourceMappingURL=products.css.map */
