.task-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0; }
  .task-list-item .ui-todo-item {
    margin: 0; }

.material-style .task-list-item {
  background: #fff; }
  .material-style .task-list-item + .task-list-item {
    border-top: 1px solid rgba(24, 28, 33, 0.06); }

/*# sourceMappingURL=tasks.css.map */
