.ticket-assignee,
.ticket-assignee-add {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%; }

.ticket-assignee-add {
  display: inline-block;
  text-align: center;
  line-height: 2.5rem; }

.ticket-file,
.ticket-file-img,
.ticket-file-add {
  display: block;
  width: 4rem;
  height: 4rem; }

.ticket-file,
.ticket-file-add {
  display: inline-block;
  text-align: center;
  line-height: 4rem; }

.ticket-file-img {
  background-color: transparent;
  background-position: center center;
  background-size: cover; }

/*# sourceMappingURL=tickets.css.map */
