@import '../../../../../../node_modules/jstree/dist/themes/default-dark/style';

$theme-name: 'default';
$throbber-bg: "url('throbber.gif')";
$small-bg: "url('32px.png')";
$big-bg: "url('40px.png')";

@import "../theme";
