{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.role.edit.role'|trans }} {% endblock %}

{% set menu_role = true %}
{% set form_errors = edit_form.vars.errors.form.getErrors(true) %}

{% block body %}
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'Rôle',
                'breadcrumb_action': 'bo.index.updating'|trans,
                'breadcrumb_text_action': 'bo.button.return'|trans,
                'breadcrumb_path': path('role_index')
            }
        %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header pl-0">
                            <h5>{{ 'bo.role.edit.role'|trans }}</h5>
                        </div>
                        <div class="card-body bg-white">
                            {{ form_start(edit_form) }}
                            {% if form_errors|length %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form_errors %}
                                        {{ error.message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form_row(edit_form.rlName) }}
                            {{ form_row(edit_form.rlDescription) }}
                            <div class="clearfix"></div>
                            <div class="form-group row mt-4">
                                <div class="col-sm-10 ml-sm-auto">
                                    <button type="submit" class="btn btn-primary">
                                        {{ 'bo.button.update'|trans }}
                                    </button>
                                    <a href="{{ path('role_index') }}" class="btn btn-secondary">{{ 'bo.global.cancel'|trans }}</a>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}