{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.sidebar.roles'|trans }} {% endblock %}

{% set menu_role = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Page breadcrumb -->
        {% include 'backoffice/base_admin_breadcrumb.html.twig' with
            {
                'breadcrumb_title': 'bo.role.index.title'|trans,
                'breadcrumb_base_root': 'bo.sidebar.roles'|trans,
                'breadcrumb_root_name_path': path('role_index'),
                'breadcrumb_action': 'bo.index.list'|trans
            } %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table id="id-list-role" class="table table-bordered table-striped mb-0">
                                <thead>
                                <tr>
                                    {% if is_granted( constant("App\\Zerop\\Service\\MetierManagerBundle\\Utils\\RoleName::ROLE_SUPER_ADMINISTRATEUR")) %}
                                        <th></th>
                                    {% endif %}
                                    <th>{{ 'bo.role.index.name'|trans }}</th>
                                    <th>{{ 'bo.role.index.description'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for role in roles %}
                                    <tr>
                                        {% if is_granted( constant("App\\Zerop\\Service\\MetierManagerBundle\\Utils\\RoleName::ROLE_SUPER_ADMINISTRATEUR")) %}
                                            <td>
                                                <a data-toggle="tooltip"
                                                   data-original-title="{{ 'bo.button.update'|trans }}"
                                                   href="{{ path('role_edit', {id:role.id}) }}"><i class="feather icon-edit"></i></a>
                                                {% if role.id != constant("App\\Zerop\\Service\\MetierManagerBundle\\Utils\\RoleName::ID_ROLE_SUPERADMIN") %}
                                                    <a class="kl-remove-elt" data-toggle="tooltip"
                                                       data-original-title="{{ 'bo.button.delete'|trans }}"
                                                       href="{{ path('role_delete', {id:role.id}) }}"><i class="feather icon-trash-2"></i></a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td>{{ role.rlName }}</td>
                                        <td>{{ role.rlDescription }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var filter = "{{ 'bo.datatable.filter'|trans }}:";
        var records = "{{ 'bo.datatable.display'|trans }} _MENU_ {{ 'bo.datatable.recording'|trans }}";
        var emptyTable = "{{ 'bo.datatable.no.enregistrement'|trans }}";
        var info = "{{ 'bo.datatable.see'|trans }} _TOTAL_ de _PAGE_ pour _PAGES_ {{ 'bo.datatable.entrees'|trans }}";
    </script>

    <script type="text/javascript" src="{{ asset('backoffice/js/default.datatable.translation.js') }}"></script>
    <script type="text/javascript">

        $('#id-list-role').DataTable({
            "aaSorting": [],
            "bProcessing": true,
            "bFilter": true,
            "columnDefs": [ {
                "targets": 0,
                "orderable": false
            },{
                "targets": 2,
                "orderable": false
            }  ],
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
                $('.kl-title-count').html(settings.aiDisplay.length);
            },
            language: {url: url_datatable_language}
        });
    </script>
{% endblock %}