$white : #fff;
$dark_theme : #000;
$green_theme : #548235;

.kl-zerop-layout{
    .sidenav.logo-dark .app-brand, .sidenav.bg-dark, .layout-content, body{
        background: $dark_theme !important;
    }

    .navbar.bg-dark{
        background-color: $dark_theme !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
    }

    .sidenav.sidenav-vertical .sidenav-item.active > .sidenav-link:not(.sidenav-toggle){
        background: transparent !important;
        color: $green_theme !important;
    }

    .kl-bread-dahsboard{
        h4{
            color:$white;
        }
    }

    .btn-success{
        background: $green_theme !important;
    }

    .table-responsive > .table, .table-responsive{
        background-color: #ebebeb !important;
    }

    .table-bordered th, .table-bordered td , .table thead th{
        border: none !important;
        text-align: center;
    }

    .table-striped tbody tr:nth-of-type(odd), .card {
        background-color: transparent;
    }

    .table-striped tbody tr:nth-of-type(even), .table-striped thead tr {
        background-color: $white;
    }

    .dataTables_length label {
        padding: 10px 10px 0;
    }

    .dataTables_filter label {
        padding: 10px 10px 0;
    }

    div.dataTables_wrapper div.dataTables_info {
        color: #a3a4a6;
        padding: 10px 10px 0;
    }

    .dataTables_paginate{
        padding: 10px 10px 0;
    }


    .page-item.active .page-link, .page-item.active .page-link:hover, .page-item.active .page-link:focus, .pagination li.active > a:not(.page-link), .pagination li.active > a:not(.page-link):hover, .pagination li.active > a:not(.page-link):focus{
        border-color: $green_theme !important;
        background-color: $green_theme !important;
    }

    td a i, .card .card-header h5{
        color: $green_theme !important;
    }

    .btn-primary{
        background: $green_theme !important;
    }

    @media (max-width : 575.98px){
        label.col-form-label {
            margin-bottom: 10px !important;
        }
    }

    .kl-underlined-btn{
        background: transparent;
        border: none;
        border-bottom: 1px solid $white !important;
        padding: 0;
        color: $white;
        &:hover, &:focus{
            color: $green_theme;
            border: none;
            border-bottom: 1px solid $white !important;
            outline: none;
            box-shadow: none;
        }
    }

    .kl-acc-wrapper{
        .card-header{
            &:hover{
                background: $green_theme !important;
                a{
                    color: $white !important;
                }
            }
        }
    }

    .kl-folder-list{
        padding-left: 0;
        @media (max-width : 767.98px) {
            padding: 0 10px;
        }
        li{
            margin-bottom: 35px;
            .kl-folder-tag{
                background: $green_theme;
                padding: 12px;
                display: block;
                width: 100%;
                text-align : center;
                font-size : 16px;
                color : $white;
                text-transform : uppercase;
                border: 3px solid $white;
                border-radius: 10px;
                @media (max-width : 575.98px) {
                    font-size : 12px;
                    padding: 6px;
                }
            }
            p{
                font-size : 14px;
                color : $white;
                margin-bottom: 0;
            }
        }
        @media (max-width:480px){   
            div[class*="col"]{
                padding : 0 5px;
                span.kl-folder-tag{
                    padding: 10px;
                    font-size: 12px;
                }
                p{
                    font-size: 11px;
                }
            }
        }
    }

    .layout-container.kl-body-ticket-index{
        padding-left: 0 !important;
    }

    .kl-product-item{
        border-bottom: 1px dashed #000;
        float: left;
        width: 100%;
        padding: 6px 0 5px;
        span{
            float: left;
        }
        b{
            float: right;
        }
    }

    .kl-ticket-total{
        float: none;
        width: 100%;
        text-align: right;
        clear: both;
        padding-top: 18px;
    }

    .kl-bx-ticket{
        max-width: 300px;
    }

    input#id-input-search{
        max-width: 132px;
        font-size: 14px;
        border-bottom: 1px solid $white;
        &::placeholder{
            color: $white;
        }
        &:focus{
            max-width: 100%;
        }
    }

    .kl-toggle-filter{
        position: static;
        &>button{
            &:focus{
                border: none;
            }
        }
        .dropdown-menu.show{
            left: 12px !important;
            right: 12px;
            padding: 20px;
            background: #ebebeb;   
            label{
                font-weight: 700;
            }     
        }
    }

    .kl-statistic-filter{

        .kl-bx-head-filter{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            input.kl-input-search{
                min-width: 175px;
                &:focus{
                    border-color: $green_theme !important;
                }
            }
            .nav-link {
                padding: 0.5rem 1rem;
            }
            
            @media (max-width:  1199.98px){  
                justify-content: flex-start;    
                flex-wrap: wrap;
                &  > * {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin: 0 0 15px;
                }
                & > input{
                    order: 0;
                }
                & > div{
                    order: 1;
                }
                & > label{
                    order: 2;
                }
                & > ul{
                    order: 3;
                }   
            }
        }

        .tab-content {
            margin-top: 29px;
        }
    }

    .kl-tabs-transaction{
        a.nav-link {
            padding: 5px 15px;
        }  
    }
    
    @media (max-width:  575.98px){  
        .kl-ftr-btn-group {
            text-align: center;
            .btn{
                margin-bottom: 10px;
            }
        }
    }

    @media (max-width:  425px){
        .kl-validate-filter{
            margin: 3px 0 !important;
        }
    }

//end zerop layout
}


.kl-error-page-wrapper{
    background: $dark_theme;   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kl-error-content{
    text-align: center;
    h1{
        color: #fff;
        font-size: 21px;
        font-weight: 400;
        margin-bottom: 20px;
        span{
            color: $green_theme;
            font-size: 50px;
            display: block;
            font-weight: 900;
            text-transform: uppercase;
            &::after{
                content: "";
                background: $green_theme;
                height: 5px;
                width: 50px;
                border-radius: 50px;
                display: block;
                margin: 25px auto;
            }
        }
    }
}


.kl-datetime-picker , .kl-date-picker-wrapper{
    .kl-open-dtm{
        position: absolute;
        right: 14px;
        bottom: 5px;
        z-index: 100;
        background: #ebebeb;
        font-size: 16px;
        height: 27px;
        width: 27px;
        line-height: 29px;
        text-align: center;
        display: block;
        color : $green_theme;
        &:hover{
            background: $green_theme;
            color: $white;
        }
    }
}