{% extends 'backoffice/base_admin_error.html.twig' %}

{% block title %} {{ parent() }} Erreur 500 {% endblock %}

{% block body %}
    <div class="container kl-error-content">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <span>Erreur 500</span>
                    Désolé, une erreur est survenue !
                </h1>
                <a href="{{ path('dashboard_index') }}" class="btn btn-outline-primary">Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}