{% extends 'backoffice/base_admin_error.html.twig' %}

{% block title %} {{ parent() }} Erreur 404 {% endblock %}

{% block body %}
    <div class="container kl-error-content">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <span>Erreur 404</span>
                    Désolé, l'URL demandée n'a pas été trouvée
                </h1>
                <a href="{{ path('dashboard_index') }}" class="btn btn-outline-primary">Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
